
<div class="coustom-margin"></div>
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Services</h2>
            <p>We provide better solutions for your agriculture farming, such as agricultural medicine, product
                sales, and purchases</p>
        </div>

        <div class="row">
            <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble "></i></div>
                    <h4><a href="">Agriculture</a></h4>
                    <p>We provide you with the best medicine for your farming. You just need to share some details
                        of your damaged crop.</p>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="">Store</a></h4>
                    <p>Here, you can buy and sell your agriculture products with us, and we provide you with the
                        best value for your products. </p>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4><a href="">Education</a></h4>
                    <p>You can learn new things with us. Hear us out.</p>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Services Section -->