<div class="coustom-margin"></div>
<div class="section-title">
    <h2>My Coin Zone</h2>
    <!-- <p>Better Solutions For Your Agriculture Farming Like Agricultural Medicine Provider And Sell,Buy Product</p> -->
</div>

<ng-container *ngIf="coinAccountInfo.isCoinAccountActive">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center">
            <mat-card class="coin-card m-1 p-3 cursor-pointer" style="min-height: 100px;">
                <mat-card-title class=" text-center text-danger"><i class="fa-solid fa-coins m-2"
                        style="color: #ffd700;;"></i>{{coinAccountInfo.account_Deatais['available_coin']}}</mat-card-title>
                <mat-card-subtitle class="text-muted text-success mt-2"><span>Available Coin</span> </mat-card-subtitle>
            </mat-card>
            <mat-card class="coin-card m-1 p-3 cursor-pointer" style="min-height: 100px;">
                <mat-card-title class="taitel text-center "><i class="fa-solid fa-coins m-2"
                        style="color: #ffd700;"></i>{{coinAccountInfo.account_Deatais['total_earned_coin']}}</mat-card-title>
                <mat-card-subtitle class="text-muted text-info mt-2">Earn Coin</mat-card-subtitle>
            </mat-card>
            <mat-card class="coin-card m-1 p-3 cursor-pointer" style="min-height: 100px;">
                <mat-card-title class="taitel text-center "><i class="fa-solid fa-coins m-2"
                        style="color: #ffd700;"></i>{{coinAccountInfo.account_Deatais['coin_used']}}</mat-card-title>
                <mat-card-subtitle class="text-muted text-danger mt-2">Use Coin</mat-card-subtitle>
            </mat-card>
        </div>
        <div class="alert alert-success mt-5" role="alert">
            Hi You Want To Get  Free Coin For "First Time Active Coin Account"
            <button (click)="freecoin()" mat-stroked-button color="accent" class="fa-fade">Just Click Me <i class="fa-solid fa-gift pb-1 ms-2"></i></button>
          </div>
        <div>
            <section>
                <h2 class="text-muted">Transactions history</h2>
                <ng-container >

                </ng-container>
                <details>
                    <summary>
                        <div>
                            <span style="background-color: #f3e1e1;">
                                <img src="assets/img/money-debit.png" width="50" height="50" alt="" srcset="">
                            </span>
                            <h3>
                                <strong>American Eagle</strong>
                                <small>Clothes & Fashion</small>
                            </h3>
                            <span >{{-39.99}} <i class="fa-solid fa-coins" style="color: #ffd700;"></i></span>
                        </div>
                    </summary>
                    <div>
                        <dl>
                            <div>
                                <dt>Time</dt>
                                <dd>4.27pm</dd>
                            </div>

                            <div>
                                <dt>Card used</dt>
                                <dd>•••• 6890</dd>
                            </div>

                            <div>
                                <dt>Reference ID</dt>
                                <dd>3125-568911</dd>
                            </div>
                        </dl>
                    </div>
                </details>
                <details>
                    <summary>
                        <div>
                            <span style="background-color: #e0ece4;">
                                <img src="assets/img/money-credit.png"  width="50" height="50" alt="" srcset="">
                            </span>
                            <h3>
                                <strong>From Håvard Brynjulfsen</strong>
                                <small>Gift</small>
                            </h3>
                            <span class="plus">{{-39.99}} <i class="fa-solid fa-coins" style="color: #ffd700;"></i></span>
                        </div>
                    </summary>
                    <div>
                        <dl>
                            <div>
                                <dt>Time</dt>
                                <dd>8.14am</dd>
                            </div>

                            <div>
                                <dt>Reference ID</dt>
                                <dd>3125-568912</dd>
                            </div>
                        </dl>
                    </div>
                </details>
            </section>
        </div>


    </div>
</ng-container>

<ng-container *ngIf="!coinAccountInfo.isCoinAccountActive">
    <div class="container">

        <div class="active-coin-account  p-3 mt-2">
            <div class="text-center p-3">
                <img src="assets/img/account-69-64.png" alt="" srcset="">
            </div>
            <div class="text-center">

                <p style="max-width: 100%;margin: auto;">
                    Hi, <span class="fw-bold text-danger">{{authStatus.name}}!</span> , It looks like your coin account
                    is not activated yet <i class="fa-solid fa-face-frown"></i>. To activate your account for
                    user coin, you have to activate it through the OTP verification process.<i
                        class="fa-solid fa-face-grin-beam"></i> Its Supper Easy
                </p>


            </div>
            <div class="text-center mt-5">
                <button mat-raised-button color="accent">Active Your Coin Account</button>
            </div>



        </div>

    </div>
</ng-container>