
.coustom-margin {
  margin-top: 4rem;
}
.card {
    // margin: auto;
    // max-width: 950px;
    // width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    background: none;
    // border: none;
    // border: transparent;
    // .card-header{
    //     background: none;
    //     border: none;
    // }
}

.list-group-item{
    background: none;
}
.product-MRP-Price {
    font-weight: 400;
    font-size: 12px;
    color: rgb(141 144 145);
    // padding-left: 5px;
  }

  .payment-method-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  .example-radio-button {
    margin: 5px;
  }

  @media only screen and (min-width: 280px) and (max-width: 599px) {
    .coustom-margin {
      margin-top: 2rem;
    }
  }
