<div class="container d-flex align-items-center" style="height: 100vh;">
    <div class="row justify-content-center" style=" box-shadow: 0.063rem 0 1.25rem 0 #ced0d3; border-radius: 30px;">
        <div class="col-lg-6 col-sm-12">
            <img src="/assets/agri/Build-An-Organic-E-commerce-Platform.png" class="img-fluid"
                style="border-bottom-left-radius: 30px; border-top-left-radius: 30px;border-right: 2px solid black;"
                width="100%" alt="Sample image">
        </div>
        <div class="col-lg-6 col-sm-12 p-4 ">
            <form [formGroup]="loginForm" class="pt-4">
                <div class="text-center mb-4">
                    <p class="text-muted fs-3 fw-bold ">Sign in with</p>
                    <!-- <button type="button" class="btn btn-primary btn-floating mx-1 p-2">
                        <i class="fab fa-facebook-f"></i>
                    </button>

                    <button type="button" class="btn btn-primary btn-floating mx-1 p-2">
                        <i class="fab fa-twitter"></i>
                    </button>

                    <button type="button" class="btn btn-primary btn-floating mx-1 p-2">
                        <i class="fab fa-linkedin-in"></i>
                    </button> -->
                </div>
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Enter Your Email</mat-label>
                        <input matInput placeholder="Enter Your Email" (keyup.enter)="submitLoginBtn()"
                            formControlName="email" required type="email">
                        <mat-icon matSuffix>{{loginForm.controls.email.valid
                            ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                        <mat-error *ngIf="loginForm.controls.email.invalid">{{getErrorMessage()}}</mat-error>
                        <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Enter Your Phone</mat-label>
                        <input matInput placeholder="Enter Your Phone" (keyup.enter)="submitLoginBtn()"
                            formControlName="phone" required type="email">
                        <mat-icon matSuffix>{{loginForm.controls.phone.valid
                            ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                        <mat-error *ngIf="loginForm.controls.phone.invalid">{{getErrorMessage()}}</mat-error>
                        <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                </div>
                <!-- Password input -->
                <div class="form-outline mb-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Enter Your Password</mat-label>
                        <input matInput placeholder="Enter Your Password" (keyup.enter)="submitLoginBtn()"
                            [type]="hide ? 'password' : 'text'" formControlName="password" required>
                        <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="loginForm.controls.password.invalid">{{getErrorMessage()}}</mat-error>
                        <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>


                </div>

                <div class="form-outline mb-3 ps-4">
                    <!-- Checkbox -->
                    <div class="d-flex justify-content-between">
                        <div class="form-check mb-0">
                            <!-- <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Remember me
                            </label> -->
                        </div>
                        <a role="button" class="text-body" (click)="forgetPassword()">Forgot password?</a>
                    </div>
                </div>

                <div class="text-center text-lg-start mt-4 pt-2">
                    <!-- <button type="button" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="submitLoginBtn()" >Login</button> -->
                    <button mat-raised-button color="primary" (click)="submitLoginBtn()" type="button"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;"
                        [disabled]="!loginForm.valid">Login</button>
                    <a mat-raised-button color="accent" type="button"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;" class="m-1" routerLink="/"
                        href="">Return</a>
                    <p class="small fw-bold mt-2 pt-1 mb-4">Don't have an account? <a href=""
                            routerLink="/pages/register" class="link-danger">Register</a></p>
                </div>

            </form>
        </div>
    </div>
</div>

<ngx-ui-loader></ngx-ui-loader>