<div class="coustom-margin"></div>
<h1 class="text-center fs-2 fw-bold mb-2" style="color: #888;">Market status graph</h1>
<div class="container mb-3">
    <div class="graph-holder m-auto">
        <div class="graph-holder-details mt-4">
            <h1 class="fs-4 fw-bold mb-3" style="color: #888;">{{marketInformation.crop}} - Average</h1>
            <p>{{marketInformation.currentDate}}-&nbsp;<span>{{marketInformation.district}},&nbsp;</span>{{marketInformation.state}}
            </p>
            <h1 class="fw-bold text-danger">{{marketInformation.currentPrice}}/Q</h1>

            <p class=" fw-bold mb-3" style="color: #888;">Past Price :--</p>
            <div class="row m-auto" style="background: #e4fdff;border-radius:15px">

                <ng-container *ngFor="let item of marketInformation['graphDateArray'];let i=index">
                    <div class="col-6 text-center fw-bold text-align-center">
                        {{item}}
                    </div>
                    <div class="col-6 text-center fw-bold">
                        {{marketInformation['graphPriceArray'][i]}} / Q
                    </div>
                </ng-container>
              
            </div>
        </div>
        <div class="graph">
            <p-chart type="line" [data]="basicData" [options]="basicOptions" [responsive]="true"></p-chart>
        </div>


    </div>

</div>