<div class="coustom-margin"></div>


<div class="section-title">
    <h2>Sell on Waywala</h2>
    <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
            fugiat sit in iste officiis commodi quidem hic quas.</p> -->
</div>

<div class="container">
   
    <p-table [value]="sellOnWaywalaContactFormDATA"  [resizableColumns]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                All Request History
            </div>
        </ng-template>
        <ng-template pTemplate="header" class="justify-content-center">
            <tr >
                <th>Request ID</th>
                <th>Created date</th>
                <th>Name</th>
                <th>Email</th>
        
                <th>Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data >
            <tr class="border" style="box-shadow: 0.063rem 0 1.25rem 0 #ced0d3;">
                <td class="justify-content-center">#{{data.id}}</td>
                <td class="justify-content-center">{{data.ceatedTime | date:'medium'}}</td>
                <td class="justify-content-center">{{data.name}}</td>
                <td class="justify-content-center">{{data.email}}</td>
                

                <td class="justify-content-center">
                   
                    <button mat-raised-button color="primary" type="button"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;" class="m-1">{{data.status}}</button>
                   
                </td>
            </tr>
        </ng-template>
        
    </p-table>
    <ng-container *ngIf="sellOnWaywalaContactFormDATA.length==0">
        <app-no-data-available></app-no-data-available>
    </ng-container>
</div>
<div class="container mt-3">

    
    <div class="card">
        <h2 class="text-center fw-bold text-muted p-3">Create A New Request</h2>
        <form class="mx-1 mx-md-4" [formGroup]="sellOnWaywalaContactForm">

            <div class="d-flex flex-row align-items-center mb-4">
                <mat-form-field appearance="outline" class="flex-fill">
                    <mat-label>Enter Your Name</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="name" required>
                    <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.name.valid
                        ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                    <mat-error *ngIf="sellOnWaywalaContactForm.controls.name.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex flex-row align-items-center mb-4">
                <mat-form-field appearance="outline" class="flex-fill">
                    <mat-label>Enter Your Email</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="email" required type="email">
                    <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.email.valid
                        ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                    <mat-error *ngIf="sellOnWaywalaContactForm.controls.email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex flex-row align-items-center mb-4">
                <mat-form-field appearance="outline" class="flex-fill">
                    <mat-label>Enter Your Phone No</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="phone" required type="text"
                        maxlength="10">
                    <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.phone.valid
                        ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                    <mat-error *ngIf="sellOnWaywalaContactForm.controls.phone.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex flex-row align-items-center mb-4">
                <mat-form-field appearance="outline" class="flex-fill">
                    <mat-label>Enter Your Business Name</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="businessName" required>
                    <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.businessName.valid
                        ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                    <mat-error
                        *ngIf="sellOnWaywalaContactForm.controls.businessName.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex flex-row align-items-center mb-4">
                <mat-form-field appearance="outline" class="flex-fill">
                    <mat-label>Enter Your Address</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="addressInfo" required type="text">
                    <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.addressInfo.valid
                        ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                    <mat-error
                        *ngIf="sellOnWaywalaContactForm.controls.addressInfo.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex flex-row align-items-center mb-4">
                <mat-form-field appearance="outline" class="flex-fill">
                    <mat-label>Enter Your Adhar Card No</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="adharNo" required type="text"
                        maxlength="10">
                    <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.adharNo.valid
                        ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                    <mat-error
                        *ngIf="sellOnWaywalaContactForm.controls.adharNo.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex flex-row align-items-center">
                <mat-form-field appearance="outline" class="flex-fill">
                    <mat-label>Additional Info</mat-label>
                    <input matInput placeholder="Placeholder" formControlName="additionalInfo" required type="text"
                        maxlength="10">
                    <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.additionalInfo.valid
                        ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                    <mat-error
                        *ngIf="sellOnWaywalaContactForm.controls.additionalInfo.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="form-check p-0 mb-4 w-100" >
                <p-multiSelect  [options]="sellingCategoryOption" formControlName="sellingCategory" optionLabel="name" defaultLabel="Select a Selling Category"></p-multiSelect>
            </div>
            <div class="form-check d-flex justify-content-center mb-5">
                <input class="form-check-input me-2" type="checkbox" id="form2Example3c" formControlName='checkbox'
                    required />
                <label class="form-check-label" for="form2Example3">
                    I agree all statements in <a href="#!">Terms of service</a>
                </label>
            </div>

            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <!-- <button type="button" class="btn btn-primary btn-lg">Register</button> -->
                <button mat-raised-button color="primary" type="button"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;" class="m-1"
                    [disabled]="sellOnWaywalaContactForm.invalid && false" (click)="send()">Send</button>
                <a mat-raised-button color="accent" type="button" style="padding-left: 2.5rem; padding-right: 2.5rem;"
                    class="m-1">Reset</a>
            </div>

        </form>

    </div>


</div>


<app-footer></app-footer>


<!-- [
    {
        "id": 3,
        "name": "SURYANARAYAN BISWAL",
        "email": "cchiku1999@gmail.com",
        "addressInfo": "Niladri Vihar Bhubaneswar ",
        "adharNo": "1234567",
        "businessName": "eAmChiku",
        "additionalInfo": "I Want To ",
        "phone": "8327783629",
        "ceatedTime": "May 7, 2023 4:48 PM",
        "status": "Approved",
        "sellingCategory": "[{\"name\":\"Vegitable\"},{\"name\":\"Agriculture Medicine\"},{\"name\":\"Fashion\"}]"
    }
] -->