<div class="coustom-margin"></div>

<div class="container">
    <div class="section-title">
        <h2>Sell on Waywala</h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
            fugiat sit in iste officiis commodi quidem hic quas.</p> -->
    </div>
    <ng-container *ngIf="sellOnWaywalaContactFormDATA && (sellOnWaywalaContactFormDATA[0]?.status == 'Approved')">
        <div class="text-center congratulation mb-3">

            <div class="main-container">
                <div class="check-container">
                    <div class="check-background">
                        <svg viewBox="0 0 65 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 25L27.3077 44L58.5 7" stroke="white" stroke-width="13" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="check-shadow"></div>
                </div>
            </div>
            <h4 class="fw-bold text-success">
                <i class="fa-solid fa-check me-2"></i>Congratulation
            </h4>
            <p>Your account has been approved, and we have already sent your login details to the email you provided
                during registration</p>
            <p>
                <span class="text-danger">You Can Login Your DashBoard
                </span>
                <!-- Click Below Button -->
            </p>
            <button mat-raised-button color="primary" class="me-2"><a href="https://admin.waywala.com/" target="_blank"
                    class="text-light"> LOGIN YOUR DASHBOARD</a></button>
            <!-- <button mat-raised-button color="primary" class="me-2" routerLink="/profile">
            View Profile
        </button> -->
        </div>
    </ng-container>
    <ng-container *ngIf="sellOnWaywalaContactFormDATA && (sellOnWaywalaContactFormDATA[0]?.status != 'Approved')">
        <div class="alert  text-center mb-3">

            <div class="main-container">
                <div class="check-container">
                    <div class="pending-background">
                        <img src="/assets/img/animation/icons8-pending.gif" alt="" srcset=""
                            style="border-radius: 10px;">

                    </div>
                    <div class="pending-shadow"></div>
                </div>
            </div>
            <h4 class="fw-bold text-danger">
                <i class="fa-regular fa-clock me-2"></i>Processing
            </h4>
            <p>You fill in all your information, and we will keep it secure.</p>
            <p>
                <span class="text-danger">Please wait our administrator will contact you and approved your accout very
                    soon.
                </span>

            </p>
            <!-- <button mat-raised-button color="accent" class="me-2" (click)="activeAccount()">Active Now</button> -->
            <button mat-button color="primary" class="me-2" >
                Stay Relax
            </button>
        </div>
    </ng-container>
    <ng-container
        *ngIf="sellOnWaywalaContactFormDATA.length>0 && (sellOnWaywalaContactFormDATA[0]?.status != 'Approved')">
        <div class="container">

            <p-table [value]="sellOnWaywalaContactFormDATA" [resizableColumns]="true">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        All Request History
                    </div>
                </ng-template>
                <ng-template pTemplate="header" class="justify-content-center">
                    <tr>
                        <th>Request ID</th>
                        <th>Created date</th>
                        <th>Name</th>
                        <th>Email</th>

                        <th>Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr class="border" style="box-shadow: 0.063rem 0 1.25rem 0 #ced0d3;">
                        <td class="justify-content-center">#{{data.id}}</td>
                        <td class="justify-content-center">{{data.ceatedTime | date:'medium'}}</td>
                        <td class="justify-content-center">{{data.name}}</td>
                        <td class="justify-content-center">{{data.email}}</td>


                        <td class="justify-content-center">

                            <button mat-raised-button color="primary" type="button"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;"
                                class="m-1">{{data.status}}</button>

                        </td>
                    </tr>
                </ng-template>

            </p-table>

        </div>
    </ng-container>
    <ng-container *ngIf="sellOnWaywalaContactFormDATA.length==0">
        <div class="container mt-3">


            <div class="card">
                <h2 class="text-center fw-bold text-muted p-3">Fill All Your Details</h2>
                <form class="mx-1 mx-md-4" [formGroup]="sellOnWaywalaContactForm">

                    <div class="d-flex flex-row align-items-center mb-4">
                        <mat-form-field appearance="outline" class="flex-fill">
                            <mat-label>Enter Your Name</mat-label>
                            <input matInput placeholder="Name" formControlName="name" required>
                            <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.name.valid
                                ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                            <mat-error
                                *ngIf="sellOnWaywalaContactForm.controls.name.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                        <mat-form-field appearance="outline" class="flex-fill">
                            <mat-label>Enter Your Email</mat-label>
                            <input matInput placeholder="Email" formControlName="email" required type="email">
                            <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.email.valid
                                ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                            <mat-error
                                *ngIf="sellOnWaywalaContactForm.controls.email.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                        <mat-form-field appearance="outline" class="flex-fill">
                            <mat-label>Enter Your Phone No</mat-label>
                            <input matInput placeholder="phone" formControlName="phone" required type="text">
                            <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.phone.valid
                                ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                            <mat-error
                                *ngIf="sellOnWaywalaContactForm.controls.phone.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                        <mat-form-field appearance="outline" class="flex-fill">
                            <mat-label>Enter Your Business Name</mat-label>
                            <input matInput placeholder="Business Name" formControlName="businessName" required>
                            <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.businessName.valid
                                ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                            <mat-error
                                *ngIf="sellOnWaywalaContactForm.controls.businessName.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <mat-form-field appearance="outline" class="flex-fill">
                            <mat-label>Enter Your Address</mat-label>
                            <textarea matInput placeholder="Address" formControlName="addressInfo" rows="5"></textarea>

                            <mat-error
                                *ngIf="sellOnWaywalaContactForm.controls.addressInfo.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>

                    </div>

                    <p-button class="w-100 " icon="pi pi-search" (click)="getAddress()" label="Fetch Auto Address"
                        styleClass="p-button-rounded p-button-success p-button-text p-button-raised"></p-button>


                    <div class="d-flex flex-row align-items-center mb-4 mt-3">
                        <mat-form-field appearance="outline" class="flex-fill">
                            <mat-label>Enter Your Adhar Card No</mat-label>
                            <input matInput placeholder="Adhar No" formControlName="adharNo" required type="text"
                                maxlength="12">
                            <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.adharNo.valid
                                ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                            <mat-error
                                *ngIf="sellOnWaywalaContactForm.controls.adharNo.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mt-2 mb-2">
                        <p class="text-danger fw-bold text-center">Upload Your Adhar Document</p>
                        <p-fileUpload name="uploadfile[]" [url]="uploadURL"
                            (onUpload)="onUploadDocument($event,'adhar_document')" accept=".pdf,.jpg,.png"
                            [multiple]="true" [maxFileSize]="15000000" styleClass="text-center"
                            [chooseStyleClass]="'d-block mb-2'" [uploadStyleClass]="'d-block'"
                            [cancelStyleClass]="'d-block'" [disabled]="uploadedFiles['adhar_document'].length>0">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles['adhar_document'].length">
                                    <li *ngFor="let file of uploadedFiles['adhar_document']">{{file.name}} -
                                        {{file.size}}
                                        bytes</li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <mat-form-field appearance="outline" class="flex-fill">
                            <mat-label>Additional Info</mat-label>
                            <input matInput placeholder="additional Info" formControlName="additionalInfo" type="text"
                                maxlength="10">
                            <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.additionalInfo.valid
                                ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                            <mat-error
                                *ngIf="sellOnWaywalaContactForm.controls.additionalInfo.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                        <mat-form-field appearance="outline" class="flex-fill">
                            <mat-label>Enter Your GST NO</mat-label>
                            <input matInput placeholder="GST NO" formControlName="igst_no" type="text" maxlength="12">
                            <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.igst_no.valid
                                ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                            <mat-error
                                *ngIf="sellOnWaywalaContactForm.controls.igst_no.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <mat-form-field appearance="outline" class="flex-fill">
                            <mat-label>Enter Your Pan No</mat-label>
                            <input matInput placeholder="Pan No" formControlName="pan_no" required type="text"
                                maxlength="10">
                            <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.pan_no.valid
                                ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                            <mat-error
                                *ngIf="sellOnWaywalaContactForm.controls.pan_no.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mt-2 mb-2">
                        <p class="text-danger fw-bold text-center">Upload Your Pan Document</p>
                        <p-fileUpload name="uploadfile[]" [url]="uploadURL"
                            (onUpload)="onUploadDocument($event,'pan_document')" accept=".pdf,.jpg,.png"
                            [multiple]="true" [maxFileSize]="15000000" styleClass="text-center"
                            [chooseStyleClass]="'d-block mb-2'" [uploadStyleClass]="'d-block'"
                            [cancelStyleClass]="'d-block'" [disabled]="uploadedFiles['pan_document'].length>0">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles['pan_document'].length">
                                    <li *ngFor="let file of uploadedFiles['pan_document']">{{file.name}} - {{file.size}}
                                        bytes</li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                    <div class="form-check p-0 mb-4 w-100">
                        <p-multiSelect [style]="{ width: '100%' }" display="chip" [options]="sellingCategoryOption"
                            formControlName="sellingCategory" optionLabel="name"
                            defaultLabel="Select a Selling Category"></p-multiSelect>
                    </div>
                    <div class="form-check d-flex justify-content-center mb-5">
                        <input class="form-check-input me-2" type="checkbox" id="form2Example3c"
                            formControlName='checkme' required />
                        <label class="form-check-label" for="form2Example3">
                            I agree all statements in <a routerLink="/pages/termsofservice">Terms of service</a>
                        </label>
                    </div>

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <!-- <button type="button" class="btn btn-primary btn-lg">Register</button> -->
                        <button mat-raised-button color="primary" type="button"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;" class="m-1" (click)="send()"
                            [disabled]="">Send</button>
                        <a mat-raised-button color="accent" type="button"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;" class="m-1" (click)="reset()">Reset</a>
                    </div>

                </form>

            </div>


        </div>

    </ng-container>
</div>
<app-footer></app-footer>


<!-- [
    {
        "id": 3,
        "name": "SURYANARAYAN BISWAL",
        "email": "cchiku1999@gmail.com",
        "addressInfo": "Niladri Vihar Bhubaneswar ",
        "adharNo": "1234567",
        "businessName": "eAmChiku",
        "additionalInfo": "I Want To ",
        "phone": "8327783629",
        "ceatedTime": "May 7, 2023 4:48 PM",
        "status": "Approved",
        "sellingCategory": "[{\"name\":\"Vegitable\"},{\"name\":\"Agriculture Medicine\"},{\"name\":\"Fashion\"}]"
    }
] -->