.coustom-margin {
  margin-top: 8rem;
}
@media only screen and (min-width: 280px) and (max-width: 599px) {
  .coustom-margin {
    margin-top: 5rem;
  }
}

.container-fluid {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}

p {
  font-size: 14px;
  margin-bottom: 7px;
}

.cursor-pointer {
  cursor: pointer;
}

a {
  text-decoration: none !important;
  color: #651fff !important;
}

.bold {
  font-weight: 600;
}

.small {
  font-size: 12px !important;
  letter-spacing: 0.5px !important;
}

.Today {
  color: rgb(83, 83, 83);
}

.btn-outline-primary {
  background-color: #fff !important;
  color: #4bb8a9 !important;
  border: 1.3px solid #4bb8a9;
  font-size: 12px;
  border-radius: 0.4em !important;
}

.btn-outline-primary:hover {
  background-color: #4bb8a9 !important;
  color: #fff !important;
  border: 1.3px solid #4bb8a9;
}

.btn-outline-primary:focus,
.btn-outline-primary:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: #42a5f5 !important;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: #455a64;
  padding-left: 0px;
  margin-top: 30px;
}

#progressbar li {
  list-style-type: none;
  font-size: 5px;
  width: 33.33%;
  float: left;
  position: relative;
  font-weight: 400;
  color: #455a64 !important;
}

#progressbar #step1:before {
  content: "1";
  color: #fff;
  width: 29px;
  margin-left: 15px !important;
  padding-left: 11px !important;
}

#progressbar #step2:before {
  content: "2";
  color: #fff;
  width: 29px;
}

#progressbar #step3:before {
  content: "3";
  color: #fff;
  width: 29px;
  // margin-right: 15px !important;
  // padding-right: 11px !important;
}

#progressbar #step4:before {
  content: "4";
  color: #fff;
  width: 29px;
  // margin-right: 15px !important;
  // padding-right: 11px !important;
}
#progressbar #step5:before {
  content: "4";
  color: #fff;
  width: 29px;
  // margin-right: 15px !important;
  // padding-right: 11px !important;
}
#progressbar li:before {
  line-height: 29px;
  display: block;
  font-size: 12px;
  background: #455a64;
  border-radius: 50%;
  margin: auto;
}

#progressbar li:after {
  content: "";
  width: 121%;
  height: 2px;
  background: #455a64;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 15px;
  z-index: -1;
}

#progressbar li:nth-child(2):after {
  left: 50%;
}

#progressbar li:nth-child(1):after {
  left: 25%;
  width: 121%;
}
#progressbar li:nth-child(3):after {
  left: 25% !important;
  width: 50% !important;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #4bb8a9;
}

.card {
  background-color: #fff;
  // box-shadow: 2px 4px 15px 0px rgb(0, 108, 170);
  // box-shadow: 0.063rem 0 1.25rem 0 #ced0d3;
  border-radius: 12px;
  z-index: 0;
  border: none;
}

small {
  font-size: 12px !important;
}

.a {
  justify-content: space-between !important;
}

.border-line {
  border-right: 1px solid rgb(226, 206, 226);
}

// .card-footer img{
//     opacity: 0.3;
// }

.card-footer h5 {
  font-size: 1.1em;
  color: #8c9eff;
  cursor: pointer;
}

.card-stepper {
  z-index: 0;
}

#progressbar-2 {
  color: #455a64;
}

#progressbar-2 li {
  list-style-type: none;
  font-size: 13px;
  width: 33.33%;
  float: left;
  position: relative;
}

#progressbar-2 #step1:before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: #fff;
  width: 37px;
  margin-left: 0px;
  padding-left: 0px;
}

#progressbar-2 #step2:before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: #fff;
  width: 37px;
}

#progressbar-2 #step3:before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: #fff;
  width: 37px;
  margin-right: 0;
  text-align: center;
}

#progressbar-2 #step4:before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: #fff;
  width: 37px;
  margin-right: 0;
  text-align: center;
}
#progressbar-2 #step5:before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: #fff;
  width: 37px;
  margin-right: 0;
  text-align: center;
}

#progressbar-2 li:before {
  line-height: 37px;
  display: block;
  font-size: 12px;
  background: #c5cae9;
  border-radius: 50%;
}

#progressbar-2 li:after {
  content: "";
  width: 100%;
  height: 10px;
  background: #c5cae9;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 15px;
  z-index: -1;
}

#progressbar-2 li:nth-child(1):after {
  left: 1%;
  width: 100%;
}

#progressbar-2 li:nth-child(2):after {
  left: 1%;
  width: 100%;
}

#progressbar-2 li:nth-child(3):after {
  left: 1%;
  width: 100%;
  // background: #c5cae9 !important;
}

#progressbar-2 li:nth-child(4) {
  left: 0;
  width: 37px;
}

#progressbar-2 li:nth-child(4):after {
  left: 0;
  width: 0;
}

.li-cancled:after {
  left: 0 !important;
  width: 0 !important;
}

#progressbar-2 li.active:before,
#progressbar-2 li.active:after {
  background: #4BB543;
}


#progressbar-2 li.active-2:before,
#progressbar-2 li.active-2:after {
  background: red;
}


.box-sadow{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.order{
  border-radius: 5px;
  cursor: pointer;
}
.order:hover{
  background-color: rgba(100, 100, 111, 0.2);
}

.order-image{
  // width: 70px;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

// @media (min-width: 500px) {
//   .order-image{
//     width: 70px;
//   }
// }

.order-placed {
  background-color: #cce5ff; /* Light Blue */
}

.order-shipped {
  background-color: #e0d6ff; /* Light Purple */
}

.order-cancelled {
  background-color: #ffd2d2; /* Light Red */
}

.order-delivered {
  background-color: #d4edda; /* Light Green */
}
