<br>
<br><br><br>
<br><br>

<div class="container">
    <h3 class="text-center fw-bold">Check Your Case Status</h3>
    <form class="text-center" [formGroup]="searchForm">
        <div class="input-group m-auto  mb-1">
            <input type="text" class="form-control me-1" formControlName="case_id" placeholder="Enter Your Case ID....">
            <p-button label="Search" icon="pi pi-search" [loading]="loading" [disabled]="!searchForm.valid"
                (onClick)="search(searchForm.value.case_id)"></p-button>
        </div>
        <span class="text-danger m-1" *ngIf="searchForm.controls.case_id.invalid">{{getErrorMessage()}}</span>



    </form>

    <ng-container *ngIf="loading">
        <div class="field col-12 md:col-6">
            <p-skeleton styleClass="mb-2"></p-skeleton>
            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="10rem" height="4rem"></p-skeleton>
        </div><br>
        <div class="field col-12 md:col-6">
            <p-skeleton styleClass="mb-2"></p-skeleton>
            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="10rem" height="4rem"></p-skeleton>
        </div>
    </ng-container>

    <ng-container *ngIf="!loading && caseAllDeatails['caseInformation']!=undefined">
        <div class="card p-3">
            <div class="d-flex justify-content-between">
                <div>
                    <button pButton pRipple type="button" label="{{caseAllDeatails['satus'] | uppercase}}" pTooltip="Download"
                        class="p-button-raised p-button-text" [ngClass]="caseAllDeatails['satus']=='completed'?'p-button-success':'p-button-danger'"></button>
                </div>
                <div>
                    <button pButton pRipple type="button" icon="pi pi-download" pTooltip="Download"
                        class="p-button-raised p-button-text m-1"></button>
                    <button pButton pRipple type="button" icon="pi pi-print" pTooltip="Print"
                        class="p-button-raised p-button-text m-1" (click)="print(window)"></button>
                </div>
            </div>
            <div id="print-section" class="mt-5">
                <div class="text-center">
                    <span class="d-block fs-5 fw-bold mb-2" style="font-family: Arial, Helvetica, sans-serif;">Report
                        For</span>
                    <span [ngClass]="caseAllDeatails['satus']=='completed'?'text-success':'text-danger'">{{caseAllDeatails['case_id']}}</span>
                </div>
                <div class="case-details">
                    <span>Information:-</span>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">CaseID</th>
                                <th scope="col">Recived Date</th>
                                <th scope="col">Review By</th>
                                <th scope="col">Current Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let case of caseAllDeatails['caseInformation']">

                                <td>{{case.case_id}}</td>
                                <td>{{case.case_received_date | date:"MM/dd/yyyy"}}</td>
                                <td>{{case.case_assign}}</td>
                                <td [ngClass]="case.case_status=='completed'?'text-success':'text-danger'">{{case.case_status | uppercase}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="case-resolution">
                    <span>Resolution:-</span>
                    <p>No Data Availble</p>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!loading && caseAllDeatails['caseInformation'] == undefined">
        <div class="text-center mt-3">
            <span>No Data Availble</span>
        </div>
        <app-no-data-availble></app-no-data-availble>
    </ng-container>

</div>