<div class="coustom-margin"></div>

<div class="container">
    <div class="section-title">
        <h2>Check Your Case Status</h2>
        <!-- <p>Better Solutions For Your Agriculture Farming Like Agricultural Medicine Provider And Sell,Buy Product</p> -->
    </div>
    <!-- <h3 class="text-center fw-bold">Check Your Case Status</h3> -->
    <form class="text-center" [formGroup]="searchForm">
        <div class="input-group m-auto  mb-1">
            <input type="text" class="form-control me-1" formControlName="case_id" placeholder="Enter Your Case ID....">
            <p-button label="Search" icon="pi pi-search" [loading]="loading" [disabled]="!searchForm.valid"
                (onClick)="search(searchForm.value.case_id)"></p-button>
        </div>
    </form>
    <span class="text-danger m-1" *ngIf="searchForm.controls.case_id.invalid">{{getErrorMessage()}}</span>


    <ng-container *ngIf="loading">
        <div class="field col-12 md:col-6">
            <p-skeleton styleClass="mb-2"></p-skeleton>
            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="10rem" height="4rem"></p-skeleton>
        </div><br>
        <div class="field col-12 md:col-6">
            <p-skeleton styleClass="mb-2"></p-skeleton>
            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="10rem" height="4rem"></p-skeleton>
        </div>
    </ng-container>

    <ng-container *ngIf="!loading && caseAllDeatails['caseInformation']!=undefined">
        <div class="card p-3 resolution">
            <div class="d-flex justify-content-between">
                <div>
                    <button pButton pRipple type="button" label="{{caseAllDeatails['satus'] | uppercase}}"
                        pTooltip="Download" class="p-button-raised p-button-text"
                        [ngClass]="caseAllDeatails['satus']=='completed'?'p-button-success':'p-button-danger'"></button>
                </div>
                <div>
                    <button pButton pRipple type="button" icon="pi pi-download" pTooltip="Download"
                        class="p-button-raised p-button-text m-1"
                        (click)="dowonload(searchForm.value.case_id)"></button>
                    <button pButton pRipple type="button" icon="pi pi-print" pTooltip="Print"
                        class="p-button-raised p-button-text m-1" (click)="print(window)"></button>
                </div>
            </div>
            <div id="print-section" class="mt-5">
                <div class="text-center">
                    <span class="d-block fs-5 fw-bold mb-2" style="font-family: Arial, Helvetica, sans-serif;">Report
                        For</span>
                    <span
                        [ngClass]="caseAllDeatails['satus']=='completed'?'text-success':'text-danger'">{{caseAllDeatails['case_id']}}</span>
                </div>
                <div class="case-details">
                    <span>Information:-</span>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">CaseID</th>
                                <th scope="col">Recived Date</th>
                                <th scope="col">Review By</th>
                                <th scope="col">Current Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let case of caseAllDeatails['caseInformation']">

                                <td>{{case.case_id}}</td>
                                <td>{{case.case_received_date | date:"MM/dd/yyyy"}}</td>
                                <td>{{case.case_assign}}</td>
                                <td [ngClass]="case.case_status=='completed'?'text-success':'text-danger'">
                                    {{case.case_status | uppercase}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="case-resolution">
                    <span>Resolution:-</span>

                    <ng-container *ngIf="caseAllDeatails['caseResolution']">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>No</th>
                                    <th scope="col">Medicine Name</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Against</th>
                                    <th scope="col">Image</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container>
                                    <tr
                                        *ngFor="let medicine of caseAllDeatails['caseResolution']['medicine'],let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{medicine.tradeName}}</td>
                                        <td>{{medicine.category}}</td>
                                        <td>{{medicine.against}}</td>
                                        <td>
                                            <ng-container *ngIf="medicine.medicine_img.length>0">
                                                <p-image [pTooltip]='"Click To View"'
                                                    [src]="'https://admin.waywala.com/api/medicine/upload/'+medicine.medicine_img[0]"
                                                    alt="Image" width="100" height="50" [preview]="false"
                                                    (click)="viewimage(medicine.medicine_img)"></p-image>
                                            </ng-container>
                                            <ng-container *ngIf="medicine.medicine_img.length==0">
                                                <span>No image available</span>
                                            </ng-container>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                        <h2 class="text-center taitel">Message</h2>
                        <p class="text-center">{{caseAllDeatails['caseResolution']['caseSuggestion']}}</p>
                        <div>
                            <p class="text-center text-danger fw-bold">GOOD LUCK!</p>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!caseAllDeatails['caseResolution']">
                        <p>No Data Availble</p>
                           
                    </ng-container>
                   
                </div>
               
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!loading && caseAllDeatails['caseInformation'] == undefined">
        <app-no-data-available></app-no-data-available>
    </ng-container>

</div>

<p-galleria [value]="selectedImage" [(visible)]="displayBasic" [responsiveOptions]="responsiveOptions"
    [containerStyle]="{'max-width': '100%'}" [numVisible]="selectedImage.length" [circular]="true" [fullScreen]="true"
    [showItemNavigators]="true" [baseZIndex]="100000">
    <ng-template pTemplate="item" let-item>
        <p-image [src]="item.previewImageSrc" alt="Image" width="600" height="350" [preview]="false"></p-image>
        <!-- <img [src]="item.previewImageSrc" style=" display: block;" width="600" height="350"/> -->
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
            <img [src]="item.thumbnailImageSrc" style="display: block;" width="50" height="50" />
        </div>
    </ng-template>
</p-galleria>