<div class="coustom-margin"></div>

<div class="aboutus-secktion paddingTB60">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2>About us</h2>
                <!-- <p>Better Solutions For Your Agriculture Farming Like Agricultural Medicine Provider And Sell,Buy Product</p> -->
            </div>
            <!-- <div class="text-center">
                <h1 style="font-size: 50px;font-weight: 900;line-height: 60px;margin-bottom: 20px;">About us</h1>
            </div> -->
            <div class="col-md-6">
                <img src="/assets/img/images (2).jpg" alt="" width="100%" height="90%">
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.
                    Donec
                    facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.
                    Donec
                    facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum
                    dolor
                    sit amet. Nulla convallis egestas rhoncus.</p>
            </div>
        </div>
    </div>
</div>


<section id="services" class="current">
    <div class="services-top">
        <div class="container bootstrap snippets bootdey">
            <div class="row text-center">
                <div class="col-sm-12 col-md-12 col-md-12">
                    <h2 style="font-size: 40px;line-height: 60px;margin-bottom: 20px;font-weight: 900;">Our Services</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-sm-12 col-md-12 col-md-10">
                    <div class="services-list">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-magic highlight"></div>
                                    <div class="text-block">
                                        <div class="name">Web Design</div>
                                        <div class="info">Beauty and function</div>
                                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-code highlight"></div>
                                    <div class="text-block">
                                        <div class="name">Development/Coding</div>
                                        <div class="info">Quality code that lasts</div>
                                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-pencil highlight"></div>
                                    <div class="text-block">
                                        <div class="name">Copy Writing</div>
                                        <div class="info">Words that tell your story</div>
                                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-bullhorn highlight"></div>
                                    <div class="text-block">
                                        <div class="name">SEO/PPCM</div>
                                        <div class="info">Converting users to customers</div>
                                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-eye highlight"></div>
                                    <div class="text-block">
                                        <div class="name">Branding/Identity</div>
                                        <div class="info">Leave a lasting impression</div>
                                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-md-4">
                                <div class="service-block" style="visibility: visible;">
                                    <div class="ico fa fa-umbrella highlight"></div>
                                    <div class="text-block">
                                        <div class="name">Strategy/Planning</div>
                                        <div class="info">Thinking beyond tomorrow</div>
                                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="row">
    <div class="container team-sektion paddingTB60">
        <div>
            <div class="site-heading text-center">
                <h3>Our Team</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    <br> ut
                    labore et dolore magna aliqua. Ut enim ad minim
                </p>
                <div class="border"></div>
            </div>
        </div>

        <div class="row justify-content-center pb-5">
            <div class="card col-md-3 mt-100">
                <div class="card-content">
                    <div class="card-body p-0">
                        <div class="profile"> <img
                                src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg"> </div>
                        <div class="card-title mt-4"> Angelina Frederic<br /> <small>Head of marketing at K mart</small>
                        </div>
                        <div class="card-subtitle">
                            <p> <small class="text-muted"> I expected anything less than perfect for the team of
                                    experts. They are the best team ever! </small> </p>
                            <div class="col-md-12 section3">
                                <i class="fa-brands fa-linkedin"></i>
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-instagram"></i>
                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-md-3 mt-100">
                <div class="card-content">
                    <div class="card-body p-0">
                        <div class="profile"> <img
                                src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583319/AAA/3.jpg"> </div>
                        <div class="card-title mt-4"> Noel Flantier<br /> <small>CEO of Redbull</small> </div>
                        <div class="card-subtitle">
                            <p> <small class="text-muted"> I really enjoyed working with them, they are Group of
                                    Professionals and they know what they're Doing </small> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-md-3 mt-100">
                <div class="card-content">
                    <div class="card-body p-0">
                        <div class="profile"> <img
                                src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg"> </div>
                        <div class="card-title mt-4"> David Gregory<br /> <small>Resident Dj at ibdc</small> </div>
                        <div class="card-subtitle">
                            <p> <small class="text-muted"> I always wanted cool videos of my concerts never knew whom to
                                    talk to but they are amazing! </small> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

