section{
  padding: 0 !important;
}

.side-img-hover:hover {
  border-radius: 5px;
  border: 1px solid blue;

}

.bg-cover {
  background-size: cover;
}

.w-\[40px\] {
  width: 40px;
}

.h-\[40px\] {
  height: 40px;
}

.fit {
  min-height: calc(100vh - 88px);
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.max-w-7xl {
  max-width: 80rem;
}

.w-full {
  width: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.ProductView_root__hqkHp {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  align-items: flex-start;
  grid-gap: 0.25rem;
  gap: 0.25rem;
  overflow: visible;
  min-height: auto;
}

.ProductView_main__mYQdy {
  position: relative;
  top: 0;
  box-sizing: border-box;
  padding-bottom: 1rem;
}


.bg-\[\#F8F8F8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(248 248 248/var(--tw-bg-opacity));
}

.flex-col {
  flex-direction: column;
}

.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.max-h-full {
  max-height: 100%;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1 1;
}

.z-10 {
  z-index: 10;
}

.left-0 {
  left: 0;
}

.absolute {
  position: absolute;
}


.bg-cover {
  background-size: cover;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.dicoute-percentage {
  font-size: 16px;
  color: green;
}

.font-bold {
  font-weight: 700;
}


.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}



.flex {
  display: flex;
}

.relative {
  position: relative;
}



.gap-2 {
  gap: 0.5rem !important;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  margin-top: -0.5rem;
}

.Button_stretch__2Qe9q {
  width: 100%;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid {
  display: grid;
}

.aspect-square {
  aspect-ratio: 1/1;
}








.Product_heading {
  font-size: 28px;
  line-height: 38px;

  .product-title {
    color: #1b2124;
    font-weight: 700;
  }
}

.product-price {
  font-size: 28px;
  color: #1b2124;
  font-weight: 700;
}

.product-MRP-Price {
  font-weight: 700;
  font-size: 16px;
  color: rgb(141 144 145);
}

.product-availability {
  font-size: 14px;
  line-height: 18px;

  .product-instock {
    color: green;
    font-weight: 700;
  }
}

//Check Delivery/Cash on Delivery Availability

.D-COD {
  // font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(87 87 87);
}

.Input_wrapperShadow__vkJuz {
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: transparent;
  --tw-shadow: 0px 3px 10px rgba(0, 0, 0, .09);
  --tw-shadow-colored: 0px 3px 10px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.Input_wrapperShadowInvalid__EdgF_ {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(248 113 113);
  --tw-shadow: 1px 4px 12px rgba(218, 60, 60, .3);
  --tw-shadow-colored: 1px 4px 12px;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000);
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .5s;
}

.Input_root__eG6Wl {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  // border-width: 1px;
  border: none;
  // border-color: var(--accent-3);
  background-color: var(--primary);
  padding: 0.875rem 2.5rem 0.75rem 0.875rem;
  font-weight: 600;
  // color: var(--accent-6);
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.Button_root__G_l9X {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  /* border-radius: 0.5rem; */
  border-width: 1px;
  /* border-color: transparent; */
  /* --tw-bg-opacity: 1; */
  /* background-color: rgb(90 75 218/var(--tw-bg-opacity)); */
  padding: 0.875rem;
  text-align: center;
  /* font-weight: 500; */
  line-height: 14px;
  /* letter-spacing: .025em; */
  /* color: var(--text-secondary); */
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.Button_naked__xwcQp,
.Button_naked__xwcQp:active,
.Button_naked__xwcQp:focus,
.Button_naked__xwcQp:hover {
  border-style: none;
  background-color: transparent;
  --tw-shadow: 0 0 #0000;
  /* --tw-shadow-colored: 0 0 #0000; */
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

input {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  // border: 2px solid #e5e7eb;
}

//end-----Check Delivery/Cash on Delivery Availability

@media (min-width: 768px) {
  .md\:gap-6 {
    gap: 1.5rem;
  }

  .gap-2 {
    gap: 0.5rem;
  }

  .justify-items-center {
    justify-items: center;
  }

  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid {
    display: grid;
  }

  .md\:gap-6 {
    gap: 3rem !important;
  }

  .dicoute-percentage {
    font-size: 18px;
    color: green;
  }


  .Product_heading {
    font-size: 28px;

  }
}

@media (min-width: 1024px) {
  .ProductView_root__hqkHp {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .ProductView_sidebar__pNv5P {
    grid-column: span 7/span 7;
  }

  .ProductView_sidebar__pNv5P {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .ProductView_main__mYQdy {
    grid-column: span 5/span 5;
    margin-left: 0;
    margin-right: 0;
  }

  .ProductView_main__mYQdy {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
  }
}

@media (min-width: 768px) {
  .ProductView_main__mYQdy {
    padding-bottom: 100px;
  }
}




button:focus,
input:focus {
  outline: none;
  box-shadow: none;
}

a,
a:hover {
  text-decoration: none;
}

/*--------------------------*/
.qty-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.qty-container .input-qty {
  text-align: center;
  padding: 6px 10px;
  border: 1px solid #d4d4d4;
  max-width: 80px;
}

.qty-container .qty-btn-minus,
.qty-container .qty-btn-plus {
  border: 1px solid #d4d4d4;
  padding: 10px 13px;
  font-size: 10px;
  height: 38px;
  width: 38px;
  transition: 0.3s;
}

.qty-container .qty-btn-plus {
  margin-left: -1px;
}

.qty-container .qty-btn-minus {
  margin-right: -1px;
}


/*---------------------------*/
.btn-cornered,
.input-cornered {
  border-radius: 4px;
}

.btn-rounded {
  border-radius: 50%;
}

.input-rounded {
  border-radius: 50px;
}


.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.coustom-margin {
  margin-top: 8rem;
}
@media only screen and (min-width: 280px) and (max-width: 599px) {
  .coustom-margin {
    margin-top: 5rem;
  }
}


