<div class="search fixed-top w-100" id="search-bar">
  <div class="container p-3">
    <div class="serch-box-container">
      <input type="text" class="serch-input-field text-muted" appClickedoutside (clickoutside)="deactive()" (keyup.enter)="search()" (blur)="deactive()"
        (click)="active()" [(ngModel)]="serchinputValue" placeholder="Search for products, brands and more">
      <i class="fa fa-search fs-4 p-2 cursor-pointer" (click)="search()"></i>
    </div>
    <div class="search-result-box-container" >
      <div class="search-result hidden" id="result" >
        <ng-container *ngFor="let item of DEFULT_SERCH_HISTORY">
          <div (click)="searchResult(item.text)" >
            <div class="d-flex  align-items-center search-result-hover p-2">
              <div class="me-4">

                <img [hidden]="item.type!='DEFULTSERACH'" [src]="item.imageURL" alt="" width="40px" height="40px"
                  class="search-img">
                <i [hidden]="item.type=='DEFULTSERACH'" class="fa-solid fa-clock-rotate-left"></i>
              </div>
              <div class="text-align-center w-100">
                <div class="d-flex justify-content-between">
                  <span class="search-result-text">{{item.text}}</span>
                  <i class="fa-solid fa-up-right-from-square"></i>
                  <!-- <span class="search-result-text">{{item?.search_time}}</span> -->
                </div>
              </div>
            </div>
          </div>
        </ng-container>


      </div>
    </div>
  </div>
</div>