<div class="coustom-margin"></div>

<div class="container-fluid container-lg">
    <section class="root">
        <figure>
            <img [src]="imageURL + orderDetails['product_Images'][0]"
                alt="">
            <figcaption>
                <h4>{{orderDetails?.product_Name}}</h4>
                <h6>{{orderDetails?.product_Category}}</h6>
                <h2>{{orderDetails?.order_QUANTITY* orderDetails?.order_product_Selling_PRICE | currency:'INR'}}</h2>
            </figcaption>
        </figure>
        <div class="order-track">
            <div class="order-track-step">
                <div class="order-track-status">
                    <span class="order-track-status-dot"></span>
                    <span class="order-track-status-line"></span>
                </div>
                <div class="order-track-text">
                    <p class="order-track-text-stat">Order Received</p>
                    <span class="order-track-text-sub">{{orderDetails?.created_at}}</span>
                </div>
            </div>
            <div class="order-track-step">
                <div class="order-track-status">
                    <span class="order-track-status-dot"></span>
                    <span class="order-track-status-line"></span>
                </div>
                <div class="order-track-text">
                    <p class="order-track-text-stat">Order Processed</p>
                    <span class="order-track-text-sub">21st November, 2019</span>
                </div>
            </div>
            <div class="order-track-step">
                <div class="order-track-status">
                    <span class="order-track-status-dot"></span>
                    <span class="order-track-status-line"></span>
                </div>
                <div class="order-track-text">
                    <p class="order-track-text-stat">Manufracturing In Progress</p>
                    <span class="order-track-text-sub">21st November, 2019</span>
                </div>
            </div>
            <div class="order-track-step">
                <div class="order-track-status">
                    <span class="order-track-status-dot"></span>
                    <span class="order-track-status-line"></span>
                </div>
                <div class="order-track-text">
                    <p class="order-track-text-stat">Order Dispatched</p>
                    <span class="order-track-text-sub">21st November, 2019</span>
                </div>
            </div>
            <div class="order-track-step">
                <div class="order-track-status">
                    <span class="order-track-status-dot"></span>
                    <span class="order-track-status-line"></span>
                </div>
                <div class="order-track-text">
                    <p class="order-track-text-stat">Order Deliverd</p>
                    <span class="order-track-text-sub">21st November, 2019</span>
                </div>
            </div>
        </div>
    </section>
</div>