<br><br>
<div class="header_section background_bg">

    <div class="banner_section">
        <div class="container">
            <div id="my_slider" class="carousel slide">
                <ngb-carousel #ngcarousel [showNavigationArrows]="false">

                    <ng-template ngbSlide *ngFor="let slider of sliders">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1 class="retailer_text">Retailers</h1>
                                    <h1 class="retailer_text_1">Directory</h1>
                                    <p class="search_text">SEARCH FOR PRODUCERS AND RETAILERS ON WORLD WIDE BASIS</p>
                                </div>
                                <div class="col-md-6">
                                    <div><img src="assets/images/img-1.png" class="image_1"></div>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                </ngb-carousel>
                <a class="carousel-control-prev" role="button" (click)="getToPrev()">
                    <i class="fa fa-left"><img src="assets/images/left-icon.png"></i>
                </a>
                <a class="carousel-control-next" role="button" (click)="goToNext()">
                    <i class="fa fa-right"><img src="assets/images/right-icon.png"></i>
                </a>
            </div>
            <!-- <div class="form_section">
                <ul>
                    <li class="padding_right_border"><a href="#">Filter By keyword</a>
                    </li>
                    <li class="padding_right_border"><a href="#">Location</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">One</a>
                            <a class="dropdown-item" href="#">Two</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Three</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">One</a>
                            <a class="dropdown-item" href="#">Two</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Three</a>
                        </div>
                    </li>
                    <li class="search_bt"><a href="#" style="color: #ffffff">Search</a></li>
                </ul>
            </div>
            <div class="btn_main">
                <div class="more_bt"><a href="#">More Info</a></div>
                <div class="contact_bt"><a href="#">Contact Us</a></div>
            </div> -->
        </div>
    </div>

</div>
<!-- Categories section start -->
 
<div class="Categories_section layout_padding mt-3">
    <div class="container">
        <h1 class="categories_text">Retailers Categories <span><img src="assets/images/img-2.png"></span></h1>
        <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut
            labore et dolore magna aliqua.</p> 
        <div class="all_menu">
            <ul>
                <li class="active"><a href="#">All</a></li>
                <li><a href="#">Milk</a></li>
                <li><a href="#">Fruit</a></li>
                <li><a href="#">Land</a></li>
                <li><a href="#">Animal</a></li>
            </ul>
        </div>
        <div class="images_section">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="image_5">
                        <img src="assets/images/img-5.png">
                        <h4 class="carrot_text_1">CARROT</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="image_5">
                        <img src="assets/images/img-6.png">
                        <h4 class="carrot_text">ToMATO</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="image_5">
                        <img src="assets/images/img-7.png">
                        <h4 class="carrot_text">VEGETABLE</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="image_5">
                        <img src="assets/images/img-8.png">
                        <h4 class="carrot_text">TREE MAKE</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="images_section">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="image_5">
                        <img src="assets/images/img-6.png">
                        <h4 class="carrot_text">ToMATO</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="image_5">
                        <img src="assets/images/img-5.png">
                        <h4 class="carrot_text_1">CARROT</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="image_5">
                        <img src="assets/images/img-8.png">
                        <h4 class="carrot_text">TREE MAKE</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="image_5">
                        <img src="assets/images/img-7.png">
                        <h4 class="carrot_text">VEGETABLE</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="readmore_bt"><a href="#">Read More</a></div>
    </div>
</div>
<!-- Categories section end -->
<!-- about section start -->
<div class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="about_text">About Waywala <span><img src="assets/images/img-2.png"></span></h1>
                <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>
                <div class="read_bt"><a href="#" routerLink="/pages/about">Read More</a></div>
            </div>
            <div class="col-md-6">
                <div><img src="assets/images/img-3.png" class="image_3"></div>
            </div>
        </div>
    </div>
</div>
<!-- about section end -->
<!-- !-- services section start -->
<div class="about_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 padding_left_0">
                <div class="overflow-hidden"><img src="assets/images/img-4.png" class="image_3"></div>
            </div>
            <div class="col-md-6">
                <h1 class="about_text">Our Service <span><img src="assets/images/img-2.png"></span></h1>
                <div class="product_section layout_padding">
                    <div class="row">
                        <div class="col-sm-4">
                            <h4 class="product_text">Agriculture</h4>
                            <div class="box_image"></div>
                            <p class="tend_text">We Give You Best Medicine For Your Farming ,You Just Need To Shear
                                Somedetails Of Your Dameage Crop </p>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="product_text">E-commerce</h4>
                            <div class="box_image_1"></div>
                            <p class="tend_text">Hear You Can Buy & Sell Your Agriculture Product With Us & We Give You
                                Best Value For You Product </p>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="product_text">Education</h4>
                            <div class="box_image"></div>
                            <p class="tend_text">Hear Your You Can Learning New Things With Us </p>
                        </div>
                    </div>
                    <div class="read_bt"><a routerLink="/pages/about">Read More</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- services section end -->
<!-- newsletter section start -->
<div class="newsletter_section layout_padding mt-3">
    <div class="container">
        <div class="newsletter_bg">
            <h1 class="Subscribe_text">Subscribe our newsletter</h1>
            <input type="text" class="enter_text" placeholder="Enter your email address"
                name="Enter your email address">
            <div class="submit_bt"><a href="#">SUBMIT NOW</a></div>
        </div>
    </div>
</div>
<!-- newsletter section end -->
<!-- Contact section start -->
<div class="Contact_section layout_padding">
    <div class="container">
        <h1 class="categories_text">Contact Us <span><img src="assets/images/img-2.png"></span></h1>
        <div class="email_box">
            <div class="input_main">
                <div class="container">
                    <form [formGroup]="contactForm">
                        <div class="form-group mb-3">
                            <input type="text" class="email-bt" placeholder="Name" formControlName="name">
                        </div>
                        <div class="form-group mb-3">
                            <input type="text" class="email-bt" placeholder="Phone Numbar" formControlName="phone_no">
                        </div>
                        <div class="form-group mb-3">
                            <input type="text" class="email-bt mb-2" placeholder="Email Address"
                                formControlName="email">
                            <span class="text-danger m-3"
                                *ngIf="!contactForm.controls.email.untouched && !contactForm.controls.email.valid">Please
                                Fill Correct Email ID</span>
                        </div>
                        <div class="form-group mb-3">
                            <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment"
                                formControlName="message"></textarea>
                        </div>
                    </form>
                </div>
                <div class="send_bt"><a (click)="send()">SEND</a></div>
            </div>
        </div>
    </div>
</div>
<!-- Contact section end -->