<div class="coustom-margin"></div>


<div class="section-title container">
    <h2>Become Agriculture Investigator With Us</h2>
    <p>Join Us</p>
</div>
<ng-container *ngIf="sellOnWaywalaContactFormDATA.length>0 && (sellOnWaywalaContactFormDATA[0]?.status == 'Approved')">
    <div class="text-center congratulation mb-3">

        <div class="main-container">
            <div class="check-container">
                <div class="check-background">
                    <svg viewBox="0 0 65 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 25L27.3077 44L58.5 7" stroke="white" stroke-width="13" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>
                <div class="check-shadow"></div>
            </div>
        </div>
        <h4 class="fw-bold text-success">
            <i class="fa-solid fa-check me-2"></i>Congratulation
        </h4>
        <p>Your account has been approved, and we have already sent your login details to the email you provided
            during registration</p>
        <p>
            <span class="text-danger">You Can Login Your DashBoard
            </span>
            <!-- Click Below Button -->
        </p>
        <button mat-raised-button color="primary" class="me-2"><a href="https://admin.waywala.com/" target="_blank"
                class="text-light"> LOGIN YOUR DASHBOARD</a></button>
        <!-- <button mat-raised-button color="primary" class="me-2" routerLink="/profile">
        View Profile
    </button> -->
    </div>
</ng-container>
<ng-container *ngIf="sellOnWaywalaContactFormDATA.length>0 && (sellOnWaywalaContactFormDATA[0]?.status != 'Approved')">
    <div class="alert  text-center mb-3">

        <div class="main-container">
            <div class="check-container">
                <div class="pending-background">
                    <img src="/assets/img/animation/icons8-pending.gif" alt="" srcset=""
                        style="border-radius: 10px;">

                </div>
                <div class="pending-shadow"></div>
            </div>
        </div>
        <h4 class="fw-bold text-danger">
            <i class="fa-regular fa-clock me-2"></i>Processing
        </h4>
        <p>You fill in all your information, and we will keep it secure.</p>
        <p>
            <span class="text-danger">Please wait our administrator will contact you and approved your accout very
                soon.
            </span>

        </p>
        <!-- <button mat-raised-button color="accent" class="me-2" (click)="activeAccount()">Active Now</button> -->
        <button mat-button color="primary" class="me-2" >
            Stay Relax
        </button>
    </div>
</ng-container>
<ng-container *ngIf="sellOnWaywalaContactFormDATA.length>0 &&  (sellOnWaywalaContactFormDATA[0]?.status != 'Approved')">
    <div class="container">
        <p-table [value]="sellOnWaywalaContactFormDATA" [resizableColumns]="true">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    All Request History
                </div>
            </ng-template>
            <ng-template pTemplate="header" class="justify-content-center">
                <tr>
                    <th>Request ID</th>
                    <th>Created date</th>
                    <th>Name</th>
                    <th>Email</th>

                    <th>Status</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
                <tr class="border" style="box-shadow: 0.063rem 0 1.25rem 0 #ced0d3;">
                    <td class="justify-content-center">#{{data.id}}</td>
                    <td class="justify-content-center">{{data.ceatedTime | date:'medium'}}</td>
                    <td class="justify-content-center">{{data.name}}</td>
                    <td class="justify-content-center">{{data.email}}</td>


                    <td class="justify-content-center">

                        <button mat-raised-button color="primary" type="button"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;" class="m-1">{{data.status}}</button>

                    </td>
                </tr>
            </ng-template>

        </p-table>
        <ng-container *ngIf="sellOnWaywalaContactFormDATA.length==0">
            <app-no-data-available></app-no-data-available>
        </ng-container>
    </div>
</ng-container>
<ng-container *ngIf="sellOnWaywalaContactFormDATA.length==0">
    <div class="container mt-3">
        <div class="card">
            <h2 class="text-center text-muted fw-bold">Enter Your Details</h2>
            <form class="mx-1 mx-md-4" [formGroup]="sellOnWaywalaContactForm">

                <div class="d-flex flex-row align-items-center mb-4">
                    <mat-form-field appearance="outline" class="flex-fill">
                        <mat-label>Enter Your Name</mat-label>
                        <input matInput placeholder="Name" formControlName="name" required>
                        <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.name.valid
                            ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                        <mat-error
                            *ngIf="sellOnWaywalaContactForm.controls.name.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <fieldset [disabled]="true">
                    <div class="d-flex flex-row align-items-center mb-4">
                        <mat-form-field appearance="outline" class="flex-fill">
                            <mat-label>Enter Your Email</mat-label>
                            <input matInput placeholder="Email" formControlName="email" required type="email">
                            <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.email.valid
                                ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                            <mat-error
                                *ngIf="sellOnWaywalaContactForm.controls.email.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                </fieldset>
                <div class="d-flex flex-row align-items-center mb-4">
                    <mat-form-field appearance="outline" class="flex-fill">
                        <mat-label>Enter Your Phone No</mat-label>
                        <input matInput placeholder="Phone No" formControlName="phone" required type="text">
                        <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.phone.valid
                            ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                        <mat-error
                            *ngIf="sellOnWaywalaContactForm.controls.phone.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <mat-form-field appearance="outline" class="flex-fill">
                        <mat-label>Enter Your Address</mat-label>
                        <textarea matInput placeholder="Address" formControlName="addressInfo" rows="5"></textarea>

                        <mat-error
                            *ngIf="sellOnWaywalaContactForm.controls.addressInfo.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>

                </div>
                <p-button class="w-100 " icon="pi pi-search" (click)="getAddress()" label="Fetch Auto Address"
                    styleClass="p-button-rounded p-button-success p-button-text p-button-raised"></p-button>
                <div class="d-flex flex-row align-items-center mb-4 mt-3">
                    <mat-form-field appearance="outline" class="flex-fill">
                        <mat-label>Enter Your Adhar Card No</mat-label>
                        <input matInput placeholder="Ashar No" formControlName="adharNo" required type="text">
                        <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.adharNo.valid
                            ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                        <mat-error
                            *ngIf="sellOnWaywalaContactForm.controls.adharNo.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="mt-2 mb-2">
                    <p class="text-danger fw-bold text-center">Upload Your Adhar Document</p>
                    <p-fileUpload name="uploadfile[]" [url]="uploadURL"
                        (onUpload)="onUploadDocument($event,'adhar_document')" accept=".pdf,.jpg,.png" [multiple]="true"
                        [maxFileSize]="15000000" styleClass="text-center" [chooseStyleClass]="'d-block mb-2'"
                        [uploadStyleClass]="'d-block'" [cancelStyleClass]="'d-block'"
                        [disabled]="uploadedFiles['adhar_document'].length>0">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles['adhar_document'].length">
                                <li *ngFor="let file of uploadedFiles['adhar_document']">{{file.name}} - {{file.size}}
                                    bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <mat-form-field appearance="outline" class="flex-fill">
                        <mat-label>Qualification</mat-label>
                        <input matInput placeholder="Qualification" formControlName="qualification" type="text">
                        <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.qualification.valid
                            ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                        <mat-error
                            *ngIf="sellOnWaywalaContactForm.controls.qualification.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="mt-2 mb-2">
                    <p class="text-danger fw-bold text-center">Qualification Document</p>
                    <p-fileUpload name="uploadfile[]" [url]="uploadURL"
                        (onUpload)="onUploadDocument($event,'qualification_document')" accept=".pdf,.jpg,.png"
                        [multiple]="false" [maxFileSize]="15000000" styleClass="text-center"
                        [chooseStyleClass]="'d-block mb-2'" [uploadStyleClass]="'d-block'"
                        [cancelStyleClass]="'d-block'" [disabled]="uploadedFiles['qualification_document'].length>0">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles['qualification_document'].length">
                                <li *ngFor="let file of uploadedFiles['qualification_document']">{{file.name}} -
                                    {{file.size}} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
                <div class=" align-items-center mb-3">
                    <p class="text-danger fw-bold text-start">Type Of Experienced</p>
                    <mat-radio-group aria-label="Select an option" formControlName="experienced_type" class="m-2"
                        (change)="onChangeTypeOfExperienced()">
                        <mat-radio-button value="Fresher" class="me-3">Fresher</mat-radio-button>
                        <mat-radio-button value="Experienced">Experienced</mat-radio-button>
                    </mat-radio-group>
                </div>
                <ng-container *ngIf="sellOnWaywalaContactForm.value.experienced_type=='Experienced'">
                    <div class="d-flex flex-row align-items-center">
                        <mat-form-field appearance="outline" class="flex-fill">
                            <mat-label>Experienced Time Period / Year</mat-label>
                            <input matInput placeholder="About You" formControlName="experienced_time_period"
                                type="number">
                            <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.experienced_time_period.valid
                                ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                            <mat-error
                                *ngIf="sellOnWaywalaContactForm.controls.experienced_time_period.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mt-2 mb-2">
                        <p class="text-danger fw-bold text-center">Experienced Document</p>
                        <p-fileUpload name="uploadfile[]" [url]="uploadURL"
                            (onUpload)="onUploadDocument($event,'experienced_document')" accept=".pdf,.jpg,.png/*"
                            [multiple]="false" [maxFileSize]="15000000" styleClass="text-center"
                            [chooseStyleClass]="'d-block mb-2'" [uploadStyleClass]="'d-block'"
                            [cancelStyleClass]="'d-block'" [disabled]="uploadedFiles['experienced_document'].length>0">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles['experienced_document'].length">
                                    <li *ngFor="let file of uploadedFiles['experienced_document']">{{file.name}} -
                                        {{file.size}} bytes</li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>

                </ng-container>
                <div class="mt-2 mb-2">
                    <p class="text-danger fw-bold text-center">Upload Your Resume</p>
                    <p-fileUpload name="uploadfile[]" [url]="uploadURL" (onUpload)="onUploadDocument($event,'resume')"
                        accept=".pdf,.jpg,.png" [multiple]="false" [maxFileSize]="15000000" styleClass="text-center"
                        [chooseStyleClass]="'d-block mb-2'" [uploadStyleClass]="'d-block'"
                        [cancelStyleClass]="'d-block'" [disabled]="uploadedFiles['resume'].length>0">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles['resume'].length">
                                <li *ngFor="let file of uploadedFiles['resume']">{{file.name}} - {{file.size}} bytes
                                </li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <mat-form-field appearance="outline" class="flex-fill">
                        <mat-label>Tell About You</mat-label>
                        <textarea matInput placeholder="About You" formControlName="tell_about_you" type="text"
                            rows="5"></textarea>
                        <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.tell_about_you.valid
                            ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                        <mat-error
                            *ngIf="sellOnWaywalaContactForm.controls.tell_about_you.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" id="form2Example3c" formControlName='checkme'
                        required />
                    <label class="form-check-label" for="form2Example3">
                        I agree all statements in <a routerLink="/pages/termsofservice">Terms of service</a>
                    </label>
                </div>

                <div class="row justify-content-center mx-4 mb-3 mb-lg-4">
                    <!-- <button type="button" class="btn btn-primary btn-lg">Register</button> -->
                    <button mat-raised-button color="primary" type="button" class="col-12 col-sm-12"
                        (click)="send()">Submit Your Application</button>
                    <a mat-raised-button color="accent" type="button"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;" class="col-12 col-sm-12 mt-2">Reset
                        Form</a>
                </div>

            </form>

        </div>
    </div>
</ng-container>


<!-- <app-footer></app-footer> -->