<div class="coustom-margin"></div>


<div class="section-title">
    <h2>Become Agriculture Investigator With Us</h2>
    <p>Join Us</p>
</div>
<ng-container *ngIf="sellOnWaywalaContactFormDATA.length>0">
    <div class="container">
        <p-table [value]="sellOnWaywalaContactFormDATA" [resizableColumns]="true">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    All Request History
                </div>
            </ng-template>
            <ng-template pTemplate="header" class="justify-content-center">
                <tr>
                    <th>Request ID</th>
                    <th>Created date</th>
                    <th>Name</th>
                    <th>Email</th>

                    <th>Status</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
                <tr class="border" style="box-shadow: 0.063rem 0 1.25rem 0 #ced0d3;">
                    <td class="justify-content-center">#{{data.id}}</td>
                    <td class="justify-content-center">{{data.ceatedTime | date:'medium'}}</td>
                    <td class="justify-content-center">{{data.name}}</td>
                    <td class="justify-content-center">{{data.email}}</td>


                    <td class="justify-content-center">

                        <button mat-raised-button color="primary" type="button"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;" class="m-1">{{data.status}}</button>

                    </td>
                </tr>
            </ng-template>

        </p-table>
        <ng-container *ngIf="sellOnWaywalaContactFormDATA.length==0">
            <app-no-data-available></app-no-data-available>
        </ng-container>
    </div>
</ng-container>
<ng-container *ngIf="sellOnWaywalaContactFormDATA.length==0">
    <div class="container mt-3">
        <div class="card">
            <h2 class="text-center text-muted fw-bold">Enter Your Details</h2>
            <form class="mx-1 mx-md-4" [formGroup]="sellOnWaywalaContactForm">

                <div class="d-flex flex-row align-items-center mb-4">
                    <mat-form-field appearance="outline" class="flex-fill">
                        <mat-label>Enter Your Name</mat-label>
                        <input matInput placeholder="Name" formControlName="name" required>
                        <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.name.valid
                            ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                        <mat-error
                            *ngIf="sellOnWaywalaContactForm.controls.name.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <fieldset [disabled]="true">
                    <div class="d-flex flex-row align-items-center mb-4">
                        <mat-form-field appearance="outline" class="flex-fill">
                            <mat-label>Enter Your Email</mat-label>
                            <input matInput placeholder="Email" formControlName="email" required type="email">
                            <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.email.valid
                                ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                            <mat-error
                                *ngIf="sellOnWaywalaContactForm.controls.email.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                </fieldset>
                <div class="d-flex flex-row align-items-center mb-4">
                    <mat-form-field appearance="outline" class="flex-fill">
                        <mat-label>Enter Your Phone No</mat-label>
                        <input matInput placeholder="Phone No" formControlName="phone" required type="text">
                        <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.phone.valid
                            ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                        <mat-error
                            *ngIf="sellOnWaywalaContactForm.controls.phone.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <mat-form-field appearance="outline" class="flex-fill">
                        <mat-label>Enter Your Address</mat-label>
                        <textarea matInput placeholder="Address" formControlName="addressInfo" rows="5"></textarea>
                       
                        <mat-error
                            *ngIf="sellOnWaywalaContactForm.controls.addressInfo.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                   
                </div>
                <p-button class="w-100 " icon="pi pi-search" (click)="getAddress()" label="Fetch Auto Address" styleClass="p-button-rounded p-button-success p-button-text p-button-raised"></p-button>

                <div class="d-flex flex-row align-items-center mb-4 mt-3">
                    <mat-form-field appearance="outline" class="flex-fill">
                        <mat-label>Enter Your Adhar Card No</mat-label>
                        <input matInput placeholder="Ashar No" formControlName="adharNo" required type="text">
                        <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.adharNo.valid
                            ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                        <mat-error
                            *ngIf="sellOnWaywalaContactForm.controls.adharNo.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <mat-form-field appearance="outline" class="flex-fill">
                        <mat-label>Tell About You</mat-label>
                        <input matInput placeholder="About You" formControlName="additionalInfo" required type="text">
                        <mat-icon matSuffix>{{sellOnWaywalaContactForm.controls.additionalInfo.valid
                            ?'sentiment_very_satisfied':'sentiment_very_dissatisfied'}}</mat-icon>
                        <mat-error
                            *ngIf="sellOnWaywalaContactForm.controls.additionalInfo.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" id="form2Example3c" formControlName='checkme'
                        required />
                    <label class="form-check-label" for="form2Example3">
                        I agree all statements in <a routerLink="/pages/termsofservice">Terms of service</a>
                    </label>
                </div>

                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <!-- <button type="button" class="btn btn-primary btn-lg">Register</button> -->
                    <button mat-raised-button color="primary" type="button"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;" class="m-1"
                        [disabled]="sellOnWaywalaContactForm.invalid" (click)="send()">Send</button>
                    <a mat-raised-button color="accent" type="button"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;" class="m-1">Reset</a>
                </div>

            </form>

        </div>
    </div>
</ng-container>


<app-footer></app-footer>