<ngx-ui-loader [fgsType]="SP" [text]="loadertext"></ngx-ui-loader>
<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                data-aos="fade-up" data-aos-delay="200">
                <h1>Get the best farming medicine solutions without going anywhere </h1>
                <h2>It's simple. You just need to tell us what's going on with your crop and send us images through a case. You can also track them. </h2>
                <div class="d-flex justify-content-center justify-content-lg-start mb-2">
                    <a routerLink="/agriculture/create/case" class="btn-go-to-store scrollto"><i class="fa-solid fa-suitcase-medical me-2"></i>Create Case</a>
                </div>
                <div class="d-flex justify-content-center justify-content-lg-start pb-3">
                    <a (click)="navigateTostatusPage()" class="glightbox btn-watch-video curser-pointer" style="cursor: pointer;"><i class="bi bi-toggles2 fa-fade"></i>Track</a>
                    <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i -->
                            <!-- class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
                    <a routerLink="/agriculture/kvks" class="glightbox btn-watch-video"><i class="bi bi-info-circle fa-fade"></i><span>Kvks Deatails</span></a>

                    <a routerLink="/agriculture/weather" class="glightbox btn-watch-video " ><i
                            class="bi bi-cloud-drizzle fa-fade"></i><span>Weather-Forecast</span></a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="assets/agri/2-34.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section>
<div class="message" *ngIf="displayBanner">
    <marquee width="100%" direction="left" height="50px" class="text-marquee" onmouseover="this.stop()"
        onmouseout="this.start()">
        <ng-container *ngFor="let banner of allbannerData">
            <span *ngIf="banner.display_banner=='Yes' && banner.display_phone_no=='No'">
                {{banner.message}}
            </span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a *ngIf="banner.display_banner=='Yes' && banner.display_phone_no=='Yes'" class="missedCall"
                href="tel:{{banner.phone_no}}">
                <span class="design missedCallText text-danger">{{banner.message}}</span></a>
        </ng-container>

    </marquee>
</div>
<!-- <div class="page-header" [ngStyle]="{'margin-top': !displayBanner ? '4.5rem' : '0.5rem' }">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="container py-5">
                    <h3 class="display-5 fw-bold text-center fs-1">Welcome To <span class="zoom">waywala.com</span></h3>
                    <p class="text-center font-size-base text-wrap p-3 fst-bold">We help you to grow your farming <span
                            class="fw-bold">"You Just Upload You Crop Photo"</span></p>

                    <div class="d-grid gap-2 d-md-block text-center">
                        <button mat-raised-button color="warn" type="button" class="m-2"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="navigateTostatusPage()"><i
                                class="fa-solid fa-check me-2"></i> Check
                            Status</button>
                        <button mat-raised-button color="primary" type="button" class="m-2"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;" routerLink="/agriculture/kvks">Kvks
                            Detail's</button>
                        <button mat-raised-button type="button" class="m-2"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;" routerLink="/agriculture/weather"><i
                                class="fa-solid fa-cloud-sun-rain me-2"></i>Weather-Forecast</button>
                    </div>

                </div>

            </div>
            <div class="col-lg-5 text-start">
                <div class="" style="position: relative;">
                    <img src="assets/agri/farmer.png.png" alt="" height="330" width="350" class="farmer-image">
                    <img src="assets/agri/farmer2.png.png" alt="" class="farmer-image2" height="330">
                </div>

            </div>
        </div>
    </div>
</div> -->
<app-generate-query></app-generate-query>
<app-market-place></app-market-place>
<app-feedback></app-feedback>

<app-news category_text="agriculture" country="in" [isOnlyNewsHeadlines]="false"></app-news>
<app-footer></app-footer>
<ngx-ui-loader [fgsType]="SP" [bgsType]="SP" [loaderId]="'loader-01'" [text]="'Uploading'"></ngx-ui-loader>