<ngx-ui-loader></ngx-ui-loader>

<div class="page-header bg-light mt-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-7">
                <div class="container-fluid py-5 mt-5">
                    <h3 class="display-5 fw-bold text-center fs-1">Welcome To <span class="zoom">waywala.com</span></h3>
                    <p class="text-center font-size-base text-wrap p-3 fst-bold">We help you to grow your farming <span
                            class="fw-bold">"You Just Upload You Crop Photo"</span></p>

                    <button mat-stroked-button color="accent" type="button" class="d-block m-auto"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">Check Status</button>
                </div>

            </div>
            <div class="col-lg-5 text-start">
                <div class="" style="position: relative;">
                    <img src="../../../../assets/agri/farmer.png.png" alt="" height="330" width="350"
                        class="farmer-image">
                    <img src="../../../../assets/agri/farmer2.png.png" alt="" class="farmer-image2" height="330" >
                </div>

            </div>

        </div>

    </div>

</div>


<app-generate-query></app-generate-query>

<div class="feedback mt-5">
    <div class="container">
        <h1 class="text-center fs-3 fw-bold " style="color: #888;cursor: pointer;">What people are saying...</h1>

        <div class="row justify-content-center mt-5">
            <mat-card class="example-card m-3 col-lg-3">
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                <mat-card-content>
                    <p>This card indeterminates progress bar.</p>
                    <p>{{"dkmdkmdkdmkdmdkdk"}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="example-card m-3 col-lg-3">
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                <mat-card-content>
                    <p>This card indeterminates progress bar.</p>
                    <p>{{"dkmdkmdkdmkdmdkdk"}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="example-card m-3 col-lg-3">
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                <mat-card-content>
                    <p>This card indeterminates progress bar.</p>
                    <p>{{"dkmdkmdkdmkdmdkdk"}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="example-card m-3 col-lg-3">
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                <mat-card-content>
                    <p>This card indeterminates progress bar.</p>
                    <p>{{"dkmdkmdkdmkdmdkdk"}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="example-card m-3 col-lg-3">
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                <mat-card-content>
                    <p>This card indeterminates progress bar.</p>
                    <p>{{"dkmdkmdkdmkdmdkdk"}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="example-card m-3 col-lg-3">
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                <mat-card-content>
                    <p>This card indeterminates progress bar.</p>
                    <p>{{"dkmdkmdkdmkdmdkdk"}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="example-card m-3 col-lg-3">
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                <mat-card-content>
                    <p>This card indeterminates progress bar.</p>
                    <p>{{"dkmdkmdkdmkdmdkdk"}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="example-card m-3 col-lg-3">
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                <mat-card-content>
                    <p>This card indeterminates progress bar.</p>
                    <p>{{"dkmdkmdkdmkdmdkdk"}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="example-card m-3 col-lg-3">
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                <mat-card-content>
                    <p>This card indeterminates progress bar.</p>
                    <p>{{"dkmdkmdkdmkdmdkdk"}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>

        </div>

    </div>

</div>

<ngx-ui-loader  [fgsType]="SP" [bgsType]="SP" [loaderId]="'loader-01'" [text]="'Uploading'"></ngx-ui-loader>

