<ngx-ui-loader [fgsType]="SP" [text]="loadertext"></ngx-ui-loader>
<div [hidden]="false" class="message">
    <marquee width="100%" direction="left" height="50px" class="text-marquee">
        <a class="missedCall" href="tel:180030002434"><span class="design missedCallText text-danger">Missed Call
                For Help: 1800-3000-2434</span></a>
    </marquee>
</div>
<div class="page-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-7">
                <div class="container py-5">
                    <h3 class="display-5 fw-bold text-center fs-1">Welcome To <span class="zoom">waywala.com</span></h3>
                    <p class="text-center font-size-base text-wrap p-3 fst-bold">We help you to grow your farming <span
                            class="fw-bold">"You Just Upload You Crop Photo"</span></p>

                    <div class="d-grid gap-2 d-md-block text-center">
                        <button mat-raised-button color="warn" type="button" class="m-2"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="navigateTostatusPage()">Check
                            Status</button>
                        <button mat-raised-button color="primary" type="button" class="m-2"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;" routerLink="/agriculture/kvks">Kvks
                            Detail's</button>
                    </div>

                </div>

            </div>
            <div class="col-lg-5 text-start">
                <div class="" style="position: relative;">
                    <img src="assets/agri/farmer.png.png" alt="" height="330" width="350" class="farmer-image">
                    <img src="assets/agri/farmer2.png.png" alt="" class="farmer-image2" height="330">
                </div>

            </div>



        </div>



    </div>
</div>


<app-generate-query></app-generate-query>

<app-feedback></app-feedback>



<ngx-ui-loader [fgsType]="SP" [bgsType]="SP" [loaderId]="'loader-01'" [text]="'Uploading'"></ngx-ui-loader>