<div class="coustom-margin"></div>

<div class="container">
	<div class="row">
		<div class="copun-holder col-sm-6 p-2 bg-white rounded">
            <span class="expand-icon btn btn-label-success" >Valid</span>
		    <div class="coupon rounded mb-3 d-flex justify-content-between">
                <div class="kiri p-3">
                    <div class="icon-container ">
                        <div class="icon-container_box">
                            <img src="/assets/e-commerce/cupon.png" width="85" alt="totoprayogo.com" class="" />
                        </div>
                    </div>
                </div>
                <div class="tengah py-3 w-100 justify-content-center">
                    <div>
                        
                        <h3 class="lead">Coupon Detail goes here </h3>
                        <p class="text-muted mb-0">Short info about voucher</p>
                    </div>
                  
                </div>
                
            </div>
            <div>
                <div class="coupon-row">
                    <span id="cpnCode">STEALDEAL20</span>
                    <span id="cpnBtn"> <i class="fa-regular fa-copy me-2"></i> Copy Code</span>
                </div>
            </div>
		</div>
		
	</div>
</div>