<div class="container mt-4 ">
  <div class="section-title">
    <h2>News Feeds</h2>
    <!-- <p>Better Solutions For Your Agriculture Farming Like Agricultural Medicine Provider And Sell,Buy Product</p> -->
  </div>
  <div class="news-container" style="max-height:800px;overflow:scroll;">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3 justify-content-center p-2">
      <ng-container *ngFor="let news of newsData">
        <div class="col">
          <div class="news-card shadow-sm">

            <a [href]="news.url" target="_blank">
              <img class="bd-placeholder-img card-img-top" [src]="news.urlToImage" alt="" srcset=""></a>
            <div class="news-card-body">
              <p class="text-muted fw-bold">Source: {{news?.source?.name}}</p>
              <p class="text-muted fw-bold">Author:<span class="text-muted text-primary"> {{news.author}}</span></p>


              <h2><a [href]="news.url" target="_blank">{{news?.title}}</a> </h2>
              <p class="card-text">{{news?.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button mat-raised-button color="primary"><a [href]="news.url" target="_blank">Read More</a> </button>

                </div>
                <small class="text-body-secondary text-danger">{{news.publishedAt | timeago}}</small>
              </div>
            </div>
          </div>
        </div>


      </ng-container>
    </div>
  </div>

</div>