<div class="container-fluid container-md">
  <div class="mt-3 pt-4">
    <div class="shopping-category-holder navbar"  [ngClass]="singleLineScoller?'forSingleScoller':''">
      <ng-container *ngFor="let category of categoryList">
        <div class="category-item ">
          <a class="for-mobail ">
            <div class="p-2" [class.activeItems]="isActive(category)">
              <div (click)="navigate(category)" >
                <img style="border-radius: 20px;border:2px solid black;" [src]="category?.image" [alt]="category?.image"
                  width="70px" height="70px" />
                <!-- <i class="fa-solid fa-wheat-awn"></i> -->
              </div>
              <div class="category-item-taitel pt-2 dropdown">
                <div class="d-flex">
                  <span class="fw-bold taitel-size">{{category?.categories}}</span>
                  <span *ngIf="category.subcategories && category.subcategories.length>0"> &nbsp;<i class="bi-chevron-down  "></i></span>

                </div>

                <ng-container *ngIf="category.subcategories && category.subcategories.length>0">

                  <ul class="" *ngIf="category.subcategories && category.subcategories.length>0">
                    <ng-container *ngFor="let subcategories of category.subcategories">
                      <li><a (click)="viewSubcategoryPage(category,subcategories)">{{subcategories}}</a></li>
                    </ng-container>

                  </ul>
                </ng-container>
              </div>
            </div>
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</div>