<div class="container-fluid container-md">
  <div class="mt-3 pt-4">
    <div class="shopping-category-holder">
      <div class="category-item" >
        <a>
          <div>
            <img
              style="border-radius: 20px"
              src="assets/e-commerce/special-offer.png"
              alt=""
              width="70px"
              height="70px"
            />
          </div>
          <div class="category-item-taitel pt-2">Special Offer</div>
        </a>
      </div>
      <div class="category-item" routerLink="/e-commerce/category/Vegetable">
        <a>
          <div>
            <img
              style="border-radius: 20px"
              src="assets/e-commerce/vegitable.jpg"
              alt=""
              width="70px"
              height="70px"
            />
          </div>
          <div class="category-item-taitel pt-2">Vegetable</div>
        </a>
      </div>
      <div class="category-item" routerLink="/e-commerce/category/Grocery">
        <a>
          <div>
            <img
              style="border-radius: 20px"
              src="assets/e-commerce/grocery.png"
              alt="grocery.png"
              width="70px"
              height="70px"
            />
          </div>
          <div class="category-item-taitel pt-2">Grocery</div>
        </a>
      </div>
      <div class="category-item" routerLink="/e-commerce/category/Fashion">
        <a>
          <div>
            <img
              style="border-radius: 20px"
              src="assets/e-commerce/fashion.png"
              alt=""
              width="70px"
              height="70px"
            />
          </div>
          <div class="category-item-taitel pt-2">Fashion</div>
        </a>
      </div>
      <div class="category-item" routerLink="/e-commerce/category/Agricultural Medicine">
        <a>
          <div>
            <img
              style="border-radius: 20px"
              src="assets/e-commerce/agricultural.jpg"
              alt=""
              width="70px"
              height="70px"
            />
          </div>
          <div class="category-item-taitel pt-2">Agriculture Medicine</div>
        </a>
      </div>
    </div>
  </div>
</div>
