.shopping-category-holder {
    display: flex;
    // position: fixed;
    // flex-wrap: nowrap !important;
    justify-content: space-between;
    align-items: center;

    // overflow-x: scroll;
    .category-item {
        gap: 0.5rem;
        cursor: pointer;
        text-align: center;

        a {
            text-decoration: none;

            .category-item-taitel {
                font-weight: 500;
                color: black;
            }
        }
    }

}

.shopping-category-holder::-webkit-scrollbar {
    display: none;
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 576px) and (max-width: 767px) {}


@media (max-width: 575px) {

    .shopping-category-holder {
        .for-mobail {
            // display: none;
            padding: 0;
        }

        display: flex;
        // flex-wrap: nowrap !important;
        justify-content: center;
        align-items: center;
        // overflow-x: scroll;
        

        .category-item {
            margin: 5px;
            cursor: pointer;
            text-align: center;

            a {
                text-decoration: none;

                .category-item-taitel {
                    font-size: small;
                    font-weight: 500;
                    color: black;

                    .taitel-size{
                        font-size: 8px;
                        text-wrap:wrap;
                    }
                }
            }
        }

    }

}