<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
<form class="form-container" enctype='multipart/form-data'>
	<div class="upload-files-container">
		<div class="drag-file-area text-center">
			<label class="d-flex align-items-center flex-column">
			<span class="material-icons-outlined upload-icon"> file_upload </span>
			<h3 class="dynamic-message text-center"><span class="browse-files me-2"> <input type="file" class="default-file-input" (change)="onFileSelected($event)"/> <span class="browse-files-text me-2">browse file</span>  </span></h3>
			<span>from device</span>
		</label>
			<!-- <span class="browse-filess"> <input type="file" class="default-file-input"/> <span class="browse-files-text me-2">browse file</span> <span>from device</span> </span> -->
		</div>
		<span class="cannot-upload-message"> <span class="material-icons-outlined">error</span> Please select a file first <span class="material-icons-outlined cancel-alert-button">cancel</span> </span>
		<div class="file-block">
			<div class="file-info"> <span class="material-icons-outlined file-icon">description</span> <span class="file-name"> </span> | <span class="file-size">  </span> </div>
			<span class="material-icons remove-file-icon">delete</span>
			<div class="progress-bar"> </div>
		</div>
		<div *ngIf="selectedFile && selectedFile?.name">
			<h4>Selected Files:</h4>
			<ul>
			  <li > <img  [src]="imageUrls[0]" alt="Selected Image" width="50px" class="me-2"> {{ selectedFile?.name }} <i class="fa-solid fa-trash ms-2" (click)="remove()"  style="color: #ff0a0a; cursor: pointer;"></i></li>
			  
			</ul>
		  </div>
		<button type="button" class="upload-button" (click)="uploadFile()"> Upload </button>
	</div>
</form>