<br><br><br>
<!-- <section>
    <div style="background-color: rgb(146, 152, 228);">
        <div class="container">
            <img src="assets/img/shoping-removebg-preview.png" alt="" style="width:100%;">
        </div>
    </div>
</section> -->

<div class="header_section background_bg">

    <div class="banner_section">
        <div class="container">
            <!-- <ngb-carousel *ngIf="images">
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img [src]="images[0]" alt="Random first slide" />
                    </div>
                    <div class="carousel-caption">
                        <h3>First slide label</h3>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img [src]="images[1]" alt="Random second slide" />
                    </div>
                    <div class="carousel-caption">
                        <h3>Second slide label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img [src]="images[2]" alt="Random third slide" />
                    </div>
                    <div class="carousel-caption">
                        <h3>Third slide label</h3>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                </ng-template>
            </ngb-carousel> -->
            <div id="my_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-6">
                                <h1 class="retailer_text">Retailers</h1>
                                <h1 class="retailer_text_1">Directory</h1>
                                <p class="search_text">SEARCH FOR PRODUCERS AND RETAILERS ON WORLD WIDE BASIS</p>
                            </div>
                            <div class="col-md-6">
                                <div><img src="assets/images/img-1.png" class="image_1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-6">
                                <h1 class="retailer_text">Retailers</h1>
                                <h1 class="retailer_text_1">Directory</h1>
                                <p class="search_text">SEARCH FOR PRODUCERS AND RETAILERS ON WORLD WIDE BASIS</p>
                            </div>
                            <div class="col-md-6">
                                <div><img src="assets/images/img-1.png" class="image_1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-6">
                                <h1 class="retailer_text">Retailers</h1>
                                <h1 class="retailer_text_1">Directory</h1>
                                <p class="search_text">SEARCH FOR PRODUCERS AND RETAILERS ON WORLD WIDE BASIS</p>
                            </div>
                            <div class="col-md-6">
                                <div><img src="assets/images/img-1.png" class="image_1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                    <i class="fa fa-left"><img src="assets/images/left-icon.png"></i>
                </a>
                <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                    <i class="fa fa-right"><img src="assets/images/right-icon.png"></i>
                </a>
            </div>
            <!-- <div class="form_section">
                <ul>
                    <li class="padding_right_border"><a href="#">Filter By keyword</a>
                    </li>
                    <li class="padding_right_border"><a href="#">Location</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">One</a>
                            <a class="dropdown-item" href="#">Two</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Three</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">One</a>
                            <a class="dropdown-item" href="#">Two</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Three</a>
                        </div>
                    </li>
                    <li class="search_bt"><a href="#" style="color: #ffffff">Search</a></li>
                </ul>
            </div>
            <div class="btn_main">
                <div class="more_bt"><a href="#">More Info</a></div>
                <div class="contact_bt"><a href="#">Contact Us</a></div>
            </div> -->
        </div>
    </div>

</div>



<!-- Categories section start -->
<div class="Categories_section layout_padding">
    <div class="container">
        <h1 class="categories_text">Retailers Categories <span><img src="assets/images/img-2.png"></span></h1>
        <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut
            labore et dolore magna aliqua.</p>
        <div class="all_menu">
            <ul>
                <li class="active"><a href="#">All</a></li>
                <li><a href="#">Milk</a></li>
                <li><a href="#">Fruit</a></li>
                <li><a href="#">Land</a></li>
                <li><a href="#">Animal</a></li>
            </ul>
        </div>
        <div class="images_section">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="image_5">
                        <img src="assets/images/img-5.png">
                        <h4 class="carrot_text_1">CARROT</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="image_5">
                        <img src="assets/images/img-6.png">
                        <h4 class="carrot_text">ToMATO</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="image_5">
                        <img src="assets/images/img-7.png">
                        <h4 class="carrot_text">VEGETABLE</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="image_5">
                        <img src="assets/images/img-8.png">
                        <h4 class="carrot_text">TREE MAKE</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="images_section">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="image_5">
                        <img src="assets/images/img-6.png">
                        <h4 class="carrot_text">ToMATO</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="image_5">
                        <img src="assets/images/img-5.png">
                        <h4 class="carrot_text_1">CARROT</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="image_5">
                        <img src="assets/images/img-8.png">
                        <h4 class="carrot_text">TREE MAKE</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="image_5">
                        <img src="assets/images/img-7.png">
                        <h4 class="carrot_text">VEGETABLE</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="readmore_bt"><a href="#">Read More</a></div>
    </div>
</div>
<!-- Categories section end -->
<!-- about section start -->
<div class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="about_text">About FarmFund <span><img src="assets/images/img-2.png"></span></h1>
                <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>
                <div class="read_bt"><a href="#">Read More</a></div>
            </div>
            <div class="col-md-6">
                <div><img src="assets/images/img-3.png" class="image_3"></div>
            </div>
        </div>
    </div>
</div>
<!-- about section end -->

<!-- newsletter section start -->
<div class="newsletter_section layout_padding">
    <div class="container">
        <div class="newsletter_bg">
            <h1 class="Subscribe_text">Subscribe our newsletter</h1>
            <input type="text" class="enter_text" placeholder="Enter your email address"
                name="Enter your email address">
            <div class="submit_bt"><a href="#">SUBMIT NOW</a></div>
        </div>
    </div>
</div>
<!-- newsletter section end -->
<!-- Contact section start -->
<div class="Contact_section layout_padding">
    <div class="container">
        <h1 class="categories_text">Contact Us <span><img src="assets/images/img-2.png"></span></h1>
        <div class="email_box">
            <div class="input_main">
                <div class="container">
                    <form action="/action_page.php">
                        <div class="form-group">
                            <input type="text" class="email-bt" placeholder="Name" name="Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="email-bt" placeholder="Phone Numbar" name="Phone Numbar">
                        </div>
                        <div class="form-group">
                            <input type="text" class="email-bt" placeholder="Email Address" name="Email Address">
                        </div>
                        <div class="form-group">
                            <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment"
                                name="Massage"></textarea>
                        </div>
                    </form>
                </div>
                <div class="send_bt"><a href="#">SEND</a></div>
            </div>
        </div>
    </div>
</div>
<!-- Contact section end -->

<div class="footer_section layout_padding">
    <div class="container">
        <div class="footer_logo">Waywala</div>
        <div class="footer_taital">
            <div class="row">
                <div class="col-sm-6 col-lg-3 border_left_0">
                    <div class="location_text"><img src="assets/images/map-icon.png"><span
                            class="padding_left_15">Locations</span>
                    </div>
                    <div class="location_text"><img src="assets/images/call-icon.png"><span class="padding_left_15">+
                            9876543210</span>
                    </div>
                    <div class="location_text"><img src="assets/images/mail-icon.png"><span
                            class="padding_left_15">demo@gmail.com</span></div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h3 class="useful_text">Useful Link</h3>
                    <div class="footer_menu">
                        <ul>
                            <li><a href="#">humour, or</a></li>
                            <li><a href="#">randomised</a></li>
                            <li><a href="#">words which</a></li>
                            <li><a href="#">don't look even</a></li>
                            <li><a href="#">slightly</a></li>
                            <li><a href="#">believable. If</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 border_right_0">
                    <h3 class="useful_text">Menus</h3>
                    <div class="footer_menu">
                        <ul>
                            <li><a href="#">humour, or</a></li>
                            <li><a href="#">randomised</a></li>
                            <li><a href="#">words which</a></li>
                            <li><a href="#">don't look even</a></li>
                            <li><a href="#">slightly</a></li>
                            <li><a href="#">believable. If</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h3 class="useful_text">Follow Us</h3>
                    <div class="social_icon">
                        <ul>
                            <li><a href="#"><img src="assets/images/fb-icon.png"></a></li>
                            <li><a href="#"><img src="assets/images/twitter-icon.png"></a></li>
                            <li><a href="#"><img src="assets/images/linkedin-icon.png"></a></li>
                            <li><a href="#"><img src="assets/images/instagram-icon.png"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright_text">Copyright 2020 All Right Reserved By <a href="https://html.design">Free html
                Templates</a></div>
    </div>
</div>