<div class="section-title">
    <h2>New Market status</h2>
    <p>Hear you can check what is price of agriculture product with state wise manner</p>
</div>
<div class="container">
    <form class="marketDataSelected-dropdown" [formGroup]="searchMarketInfoForm">
        <div class="marketDataSelected-item pb-3">
            <p-dropdown [options]="stateOption" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
                placeholder="Select State" formControlName="state" [style]="{'width':'100%'}" optionLabel="name"
                optionValue="value" (onChange)="getDistrictstate()">
                <ng-template pTemplate="selectedItem">
                    <div class="country-item country-item-value">
                        <div>{{searchMarketInfoForm.value.state}}</div>
                    </div>
                </ng-template>
                <ng-template let-item pTemplate="item">
                    <div class="country-item">
                        <div>{{item.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="marketDataSelected-item pb-3">
            <p-dropdown [options]="districtOption" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
                placeholder="Select Districts" formControlName="district" [style]="{'width':'100%'}" optionLabel="name"
                optionValue="value" (onChange)="getMarketName()">
                <ng-template pTemplate="selectedItem">
                    <div class="country-item country-item-value">
                        <div>{{searchMarketInfoForm.value.district}}</div>
                    </div>
                </ng-template>
                <ng-template let-item pTemplate="item">
                    <div class="country-item">
                        <div>{{item.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="marketDataSelected-item pb-3">
            <p-dropdown [options]="marketNameOption" optionLabel="name" [filter]="true" filterBy="name"
                [showClear]="true" placeholder="Select Market" formControlName="market_name" [style]="{'width':'100%'}"
                optionLabel="name" optionValue="value">
                <ng-template pTemplate="selectedItem">
                    <div class="country-item country-item-value">
                        <div>{{searchMarketInfoForm.value.market_name}}</div>
                    </div>
                </ng-template>
                <ng-template let-item pTemplate="item">
                    <div class="country-item">
                        <div>{{item.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="marketDataSelected-item pb-3">
            <p-calendar formControlName="date" dateFormat="yy-mm-dd" styleClass="w-100 mb-3"
                placeholder="Select Date"></p-calendar>

        </div>
        <div class="marketDataSelected-item pb-3 ">
            <p-button label="Search" icon="pi pi-search" [loading]="false" (onClick)="search()"
                [disabled]="!searchMarketInfoForm.valid"></p-button>
        </div>
    </form>

    <div>

        <div class="d-flex justify-content-between align-items-cente">
            <div>
                <h2 class="header-text">Product List:</h2>
            </div>
            <div>
                <input type="text" pInputText placeholder="Search" class="w-full" [(ngModel)]="filterText" />
            </div>
        </div>
        <div class="text-center mb-5">
            <span class="btn btn-label-danger">{{searchMarketInfoForm.value.date |date:'fullDate'}}</span>
        </div>
        <div class="product-container">
            <ng-container *ngFor="let item of productNameList | fillter :['product_name','average_price','state','market_name','district']:filterText ">
                <div class="product-item">
                    <span class="circle-text btn btn-label-danger">{{item.quantity}}</span>
                    <span class="expand-icon btn btn-label-primary" routerLink="/"><i class="fa-solid fa-up-right-from-square"></i></span>
                    <div class="product-name fw-bold text-muted">{{item.product_name |uppercase}}</div>
                    <div class="product-price btn btn-label-danger m-1"><i class="fa-solid fa-bullhorn"></i> AVG :
                        {{item.average_price |currency:'INR'}} /
                        {{item.quantity}}</div>
                    <div class="product-price btn btn-label-success m-1">Address <i class="fa-solid fa-caret-down"></i>
                    </div>
                    <div class="text-start btn btn-label-success w-100">
                        <p class="text-muted fw-700" style="font-size: 0.6rem;">
                            <span class="fw-bold">Market <i class="fa-solid fa-caret-right"></i></span>
                             {{item.market_name | uppercase}}
                        </p>
                        <p class="text-muted fw-700" style="font-size: 0.6rem;">
                            <span class="fw-bold">District <i class="fa-solid fa-caret-right"></i> </span>
                             {{item.district}}
                        </p>
                        <p class="text-muted fw-700" style="font-size: 0.6rem;">
                            <span class="fw-bold">State <i class="fa-solid fa-caret-right"></i> </span> {{item.state}}
                        </p>
                    </div>
                    <div>
                        <p class="p-2 text-muted">Base on <strong class="text-success">{{item.total_review_made}}</strong> Review</p> 
                    </div>



                </div>
            </ng-container>
            <ng-container *ngIf="productNameList.length==0">
                <span class="btn btn-label-danger">Sorry No Product Listed This Market</span>
            </ng-container>


            <!-- Add more product items as needed -->
        </div>
    </div>
    <!-- <h2 class="header-text">Reported Price:</h2>
    <div class="price-container">
        <div class="price-option btn btn-label-success">10-20</div>
        <div class="price-option btn btn-label-success">20-30</div>
        <div class="price-option btn btn-label-danger">30-40</div>
        <div class="price-option btn btn-label-success">40-50</div>
    </div> -->
</div>