<div class="container feedback mt-5">
    <div class="container">
        <div class="section-title">
            <h2>FeedBack</h2>
            <p>What people are saying...</p>
        </div>
        <h1 class="text-center fs-3 fw-bold " style="color: #888;cursor: pointer;">What people are saying...</h1>

        <div class="review-holder">

            <div style="background-color: #f8f7fd;" class="m-3">

                <ng-container *ngFor="let review of feedback">
                    <div class="schema-item">
                        <div class="flex-1 h-62 p-4 cursor-pointer opacity-100">
                            <div class="flex items-center justify-start my-2">
                                <div class="flex items-center  rounded p-1">
                                    <span class="scale-90 md:scale-100">
                                        <img src="assets/e-commerce/icons8-star-96.png" height="25"
                                            alt="reviews-stars">
                                    </span>
                                    <div class="schema-item" itemprop="reviewRating">
                                        <span class="rating__score_user">{{review?.case_review}}</span>
                                    </div>
                                </div>
                                <span class="pl-2">
                                    <span class="text-[14px] font-bold" itemprop="name">{{review?.case_review_note}}
                                    </span></span>
                            </div>
                            <div class=" mt-2">
                                <!-- <span class="text-[14px] font-medium"
                                    itemprop="reviewBody">{{review?.feedback_by}}</span> -->
                                <div class="h-[17px] mt-2">
                                    <div class="schema-item" itemprop="author" itemscope=""
                                        itemtype="https://schema.org/Person"><span class="text-[14px] font-semibold"
                                            itemprop="name">{{review?.feedback_by}}</span></div>
                                </div>
                                <div class="w-100"><span class="text-[12px] text-gray">{{review?.case_review_time
                                        |date:'medium'}}</span></div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="feedback.length==0">
                    <button mat-button color="warn" class="w-100">No FeedBack Found</button>
                </ng-container>

            </div>

        </div>

        <!-- <div class="row justify-content-center mt-5 message-holder">
            <ng-container *ngFor="let feed of feedback">
                <div class="comment-box col-lg-3">
                    <div class="d-flex pb-3 align-items-center border-bottom">
                        <img src="assets/agri/man.png" width="40" height="40" alt="">
                        <div class="ms-2  ">
                            <span class="d-block">{{feed.feedback_by | uppercase}}</span>
                            <span style="font-size: 12px;">{{feed.case_review_time=='0'?'not
                                availble':feed.case_review_time}}</span>

                            <p-rating [ngModel]="feed.case_review" [cancel]="false" [readonly]="true"></p-rating>

                        </div>
                    </div>
                    <div class="text-content">
                        {{feed.case_review_note}}
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="feedback.length==0">
                <div class="alert alert-warning">
                    No Information Availble
                </div>
            </ng-container>


        </div> -->




    </div>

</div>