<div class="margin"></div>
<app-search-bar appClickedoutside (clickoutside)="deactive()"></app-search-bar>
<app-product-category></app-product-category>
<app-banner></app-banner>

<app-suggested-product-list [search_by]="'books'"></app-suggested-product-list>
<!-- <app-product-section sectionName="Products" sectionCategory="Agriculture"></app-product-section> -->
<!-- <app-product-section sectionName="Agriculture Medicine For Farming" sectionCategory="Agricultural Medicine"></app-product-section> -->
<!-- <app-all-product-list></app-all-product-list> -->
<app-footer></app-footer>
