<br><br>
<app-search-bar></app-search-bar>
<div class="container">
    <div class="shopping-category-holder">
        <div class="category-item">
            <a href="">
                <div>
                    <img src="assets/e-commerce/offer.png" alt="" width="70px" height="70px">

                </div>
                <div class="category-item-taitel">
                    Top Offer
                </div>
            </a>

        </div>
        <div class="category-item">
            <a href="">
                <div>
                    <img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/5f8bd5669e19e724.png?q=100" alt="" width="70px" height="70px">

                </div>
                <div class="category-item-taitel">
                    Top Offer
                </div>
            </a>

        </div>
        <div class="category-item">
            <a href="">
                <div>
                    <img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/361d53b8725c2d2d.png?q=100" alt="" width="70px" height="70px">

                </div>
                <div class="category-item-taitel">
                    Top Offer
                </div>
            </a>

        </div>
        <div class="category-item">
            <a href="">
                <div>
                    <img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/46376ceed3448aff.png?q=100" alt="" width="70px" height="70px">
    
                </div>
                <div class="category-item-taitel">
                    Top Offer
                </div>
            </a>
        </div>
        <div class="category-item">
            <a href="">
                <div>
                    <img src="assets/e-commerce/offer.png" alt="" width="70px" height="70px">

                </div>
                <div class="category-item-taitel">
                    Top Offer
                </div>
            </a>

        </div>
        <div class="category-item">
            <a href="">
                <div>
                    <img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/5f8bd5669e19e724.png?q=100" alt="" width="70px" height="70px">

                </div>
                <div class="category-item-taitel">
                    Top Offer
                </div>
            </a>

        </div>
        <div class="category-item">
            <a href="">
                <div>
                    <img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/361d53b8725c2d2d.png?q=100" alt="" width="70px" height="70px">

                </div>
                <div class="category-item-taitel">
                    Top Offer
                </div>
            </a>

        </div>
        <div class="category-item">
            <a href="">
                <div>
                    <img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/46376ceed3448aff.png?q=100" alt="" width="70px" height="70px">
    
                </div>
                <div class="category-item-taitel">
                    Top Offer
                </div>
            </a>
        </div>
        <div class="category-item">
            <a href="">
                <div>
                    <img src="assets/e-commerce/offer.png" alt="" width="70px" height="70px">

                </div>
                <div class="category-item-taitel">
                    Top Offer
                </div>
            </a>

        </div>
        <div class="category-item">
            <a href="">
                <div>
                    <img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/5f8bd5669e19e724.png?q=100" alt="" width="70px" height="70px">

                </div>
                <div class="category-item-taitel">
                    Top Offer
                </div>
            </a>

        </div>
        <div class="category-item">
            <a href="">
                <div>
                    <img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/361d53b8725c2d2d.png?q=100" alt="" width="70px" height="70px">

                </div>
                <div class="category-item-taitel">
                    Top Offer
                </div>
            </a>

        </div>
        <div class="category-item">
            <a href="">
                <div>
                    <img src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/46376ceed3448aff.png?q=100" alt="" width="70px" height="70px">
    
                </div>
                <div class="category-item-taitel">
                    Top Offer
                </div>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <h2>Coupons For You</h2>
    <div class="coupon-container">
        <div class="coupon-flex-box">
            <div class="copon-item">
                
                <div class="d-flex justify-content-center align-item-center">
                    <div class="me-2">
                        <h1 class="copon-taitel">GET Rs 500 OFF </h1>
                        <span class="copon-subtaitel">ON ORDER ABOVE Rs 1500</span>
                    </div>
                    <div>
                        <img src="https://cdn-icons-png.flaticon.com/512/1611/1611337.png" alt="" width="30px" height="30px">
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="mt-2">
                    <div class="copon-code">
                        <i class="fa-regular fa-copy text-primary" (click)="copyCoponCode('WAYWALA500')"></i>
                        <span style="font-family: fantasy;"> Copon Code :<span class="text-danger">WAYWALA500</span> </span>
                    </div>
                </div>

            </div>
            <div class="copon-item">
                
                <div class="d-flex justify-content-center align-item-center">
                    <div class="me-2">
                        <h1 class="copon-taitel">GET Rs 500 OFF </h1>
                        <span class="copon-subtaitel">ON ORDER ABOVE Rs 1500</span>
                    </div>
                    <div>
                        <img src="https://cdn-icons-png.flaticon.com/512/1611/1611337.png" alt="" width="30px" height="30px">
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="mt-2">
                    <div class="copon-code">
                        <i class="fa-regular fa-copy text-primary" (click)="copyCoponCode('WAYWALA500')"></i>
                        <span style="font-family: fantasy;"> Copon Code :<span class="text-danger">WAYWALA500</span> </span>
                    </div>
                </div>

            </div>
            <div class="copon-item">
                
                <div class="d-flex justify-content-center align-item-center">
                    <div class="me-2">
                        <h1 class="copon-taitel">GET Rs 500 OFF </h1>
                        <span class="copon-subtaitel">ON ORDER ABOVE Rs 1500</span>
                    </div>
                    <div>
                        <img src="https://cdn-icons-png.flaticon.com/512/1611/1611337.png" alt="" width="30px" height="30px">
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="mt-2">
                    <div class="copon-code">
                        <i class="fa-regular fa-copy text-primary" (click)="copyCoponCode('WAYWALA500')"></i>
                        <span style="font-family: fantasy;"> Copon Code :<span class="text-danger">WAYWALA500</span> </span>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<br><br><br>