<div class="coustom-margin"></div>
<!-- <article class="card"> -->
<div class="main">

    <div class="section-title mt-4">
        <h2> Create Case</h2>
        <p>Better Solutions For Your Agriculture Farming Like Agricultural Medicine Provider And Sell,Buy Product</p>
    </div>

    <div class="container p-3 m-auto ">
        <form [formGroup]="fileuploadForm" enctype="multipart/form-data" class="create-case">

            <div class="mb-3">
                <!-- <label for="formFile" class="form-label">Hear upload your file</label> -->
                <mat-form-field appearance="outline" class="flex-fill d-block">

                    <textarea matInput placeholder="Tell Us What happened" formControlName="desc" rows="10"
                        required></textarea>
                    <!-- <input matInput placeholder="Tell Us What happened" formControlName="desc" type="text" required> -->
                    <mat-error *ngIf="fileuploadForm.controls.desc.invalid">Please Enter only text</mat-error>
                </mat-form-field>
            </div>
            <div class="mb-3">
                <p-fileUpload name="uploadfile[]" [url]="uploadURL" (onUpload)="onUpload($event)" accept="image/*"
                    [multiple]="multiple" [maxFileSize]="15000000" styleClass="text-center"
                    [chooseStyleClass]="'d-block mb-2'" [uploadStyleClass]="'d-block'" [cancelStyleClass]="'d-block'">
                    <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                        </ul>
                    </ng-template>
                </p-fileUpload>
            </div>
            <div class="mb-3">
                <mat-card [hidden]="!isfileUploaded">
                    <p-button label="Create Case" class="me-3" icon="pi pi-check" (click)="createCase()"></p-button>
                    <p-button label="Cancle" type="reset" icon="pi pi-times" class="me-3"  styleClass="p-button-danger" (click)="cancle()"></p-button>
                </mat-card>
            </div>
        </form>


    </div>


</div>

<!-- </article> -->

<p-toast></p-toast>
<ngx-ui-loader [fgsType]="SP" [loaderId]="'loader-02'" [text]="loaderText"></ngx-ui-loader>