<div class="modal-header">
    <!-- <h4 class="modal-title" id="modal-basic-title">Mr/Ms {{userInfo.name}} Please Select Your Address</h4> -->
    <!-- <button mat-raised-button color="primary" class="me-2">Hello, <span
            class="text-warning fa-fade">{{userInfo.name}}</span> Please Select Your Address</button> -->
    <button mat-raised-button color="" class="me-2 text-muted">{{operation}}</button>
    <!-- <button type="button" class="btn-close" (click)="activeModal.dismiss()"></button> -->
    <button mat-raised-button color="primary" [disabled]="active_edit_update_mode"
        (click)="add()">Add New Address</button>
</div>
<div class="modal-body">
    <ng-container *ngIf="!active_edit_update_mode">
        <p-table #dt [value]="allAddress" [(selection)]="selectedAddress" selectionMode="single" dataKey="id"
            responsiveLayout="scroll" scrollHeight="450px" styleClass="p-datatable-customers" [rowHover]="true"
            [showCurrentPageReport]="true" [paginator]="false"
            [globalFilterFields]="['address_INFO']" [metaKeySelection]="true">
            <ng-template pTemplate="caption">
                <div class="table-header d-flex justify-content-between">
                    <!-- <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"></button> -->
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="Search Address" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <!-- <p-tableHeaderCheckbox [disabled]="true" ></p-tableHeaderCheckbox> -->
                    </th>
                    <th pSortableColumn="display_address_INFO">
                        <div class="flex justify-content-between align-items-center">
                            Address
                            <p-sortIcon field="display_address_INFO"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="Action">
                        <div class="flex justify-content-between align-items-center">
                            Action
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-address let-i="rowIndex">
                <tr [pSelectableRow]="address">
                    <td>
                        <p-tableRadioButton [value]="address"></p-tableRadioButton>
                    </td>
                    <td>
                        <span class="p-column-title">Address Information</span>
                        {{address.display_address_INFO }}
                    </td>
                    <td>
                        <!-- <span class="p-column-title">Edit</span> -->
                       
                        <button pButton pRipple icon="fa-solid fa-pen-to-square fa-fade" pTooltip="Edit"
                            class="p-button-rounded p-button-Primary m-1" (click)="edit(address)"></button>
                  
                        <button pButton pRipple icon="fa-solid fa-trash-can fa-fade" pTooltip="Delet"
                            class="p-button-rounded p-button-danger m-1" (click)="delet(address.id)"></button>
                        <!-- <span class="image-text">{{customer.country.name}}</span> -->
                    </td>
                </tr>

            </ng-template>


        </p-table>
        <ng-container *ngIf="allAddress.length==0">
            <p class="text-danger m-3">Please Add Your Address</p>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="active_edit_update_mode">
        <form class="p-fluid " [formGroup]="addAddressForm">
            <div class="row">
                <span class="fw-bold mb-2">Select Address Type</span>
                <mat-form-field appearance="outline" class="w-100 mt-2">
                    <mat-label>Select Address Type</mat-label>
                    <mat-select formControlName="address_Type" required>
                        <mat-select-trigger>
                            {{addAddressForm.controls.address_Type.value || ''}}
                        </mat-select-trigger>
                        <mat-option *ngFor="let address_Type of addressType"
                            [value]="address_Type">{{address_Type}}</mat-option>
                    </mat-select>
                    <mat-icon matSuffix
                        [ngClass]="addAddressForm.controls.address_Type.valid?'text-success':'text-danger'">{{addAddressForm.controls.address_Type.valid?'done':'highlight_remove'}}</mat-icon>
                    <mat-error
                        *ngIf="addAddressForm.controls.address_Type.invalid">{{getErrorMessage("address_Type")}}</mat-error>

                </mat-form-field>
            </div>
            <div class="row">
                <span class="fw-bold mb-2">Name</span>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>name</mat-label>
                    <input matInput placeholder="Name" formControlName="name" required>
                    <mat-icon matSuffix
                        [ngClass]="addAddressForm.controls.name.valid?'text-success':'text-danger'">{{addAddressForm.controls.name.valid?'done':'highlight_remove'}}</mat-icon>
                    <mat-error *ngIf="addAddressForm.controls.name.invalid">{{getErrorMessage("name")}}</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <span class="fw-bold mb-2">Address</span>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="Chemical concentration" formControlName="address">
                    <mat-icon matSuffix>{{addAddressForm.controls.address.valid
                        ?'done':''}}</mat-icon>
                    <mat-error
                        *ngIf="addAddressForm.controls.address.invalid">{{getErrorMessage("address")}}</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <span class="fw-bold mb-2">Land Mark</span>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Land Mark</mat-label>
                    <input matInput placeholder="Land Mark" formControlName="landmark">
                    <!-- <mat-icon matSuffix>{{addAddressForm.controls.landmark.valid
                ?'done':''}}</mat-icon>
            <mat-error
                *ngIf="addAddressForm.controls.landmark.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
            </div>
            <div class="row">
                <span class="fw-bold mb-2">Locality</span>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Locality</mat-label>
                    <input matInput placeholder="Land Mark" formControlName="locality">
                    <!-- <mat-icon matSuffix>{{addAddressForm.controls.landmark.valid
                ?'done':''}}</mat-icon>
            <mat-error
                *ngIf="addAddressForm.controls.landmark.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
            </div>
            <div class="row">
                <span class="fw-bold mb-2">Phone No</span>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Phone No</mat-label>
                    <input matInput placeholder="original_phone." formControlName="original_phone">
                    <mat-icon matSuffix>{{addAddressForm.controls.original_phone.valid
                        ?'done':''}}</mat-icon>
                    <mat-error
                        *ngIf="addAddressForm.controls.original_phone.invalid">{{getErrorMessage("original_phone")}}</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <span class="fw-bold mb-2">Alternative Phone No</span>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Alternative Phone No</mat-label>
                    <input matInput placeholder="alternative_phone" formControlName="alternative_phone">
                    <mat-icon matSuffix>{{addAddressForm.controls.alternative_phone.valid
                        ?'done':''}}</mat-icon>
                    <mat-error
                        *ngIf="addAddressForm.controls.alternative_phone.invalid">{{getErrorMessage("alternative_phone")}}</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <span class="fw-bold mb-2">City</span>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="City" formControlName="city">
                    <!-- <mat-icon matSuffix>{{addAddressForm.controls.pin_code.valid
                        ?'done':''}}</mat-icon>
                    <mat-error *ngIf="addAddressForm.controls.pin_code.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
            </div>
            <div class="row">
                <span class="fw-bold mb-2">Pincode</span>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Pincode</mat-label>
                    <input matInput placeholder="Pincode" formControlName="pin_code">
                    <mat-icon matSuffix>{{addAddressForm.controls.pin_code.valid
                        ?'done':''}}</mat-icon>
                    <mat-error
                        *ngIf="addAddressForm.controls.pin_code.invalid">{{getErrorMessage("pin_code")}}</mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <span class="fw-bold mb-2">Country</span>
                <fieldset disabled>
                    <mat-form-field appearance="outline" class="w-100" di>
                        <mat-label>Country</mat-label>
                        <input matInput placeholder="Country" formControlName="country">
                        <mat-icon matSuffix>{{addAddressForm.controls.country.valid
                            ?'done':''}}</mat-icon>
                        <mat-error
                            *ngIf="addAddressForm.controls.country.invalid">{{getErrorMessage("country")}}</mat-error>
                    </mat-form-field>
                </fieldset>
            </div>
            <div class="row">
                <span class="fw-bold mb-2">State</span>
                <p-dropdown formControlName="state" [options]="stateOption" [filter]="true" filterBy="name" class="w-100"
                    [showClear]="true" placeholder="State" class="w-100" optionValue="name" optionLabel="name">
                    <ng-template pTemplate="selectedItem">
                        <div class="country-item country-item-value">
                            <div>{{addAddressForm.value.state}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-state pTemplate="item">
                        <span>{{state.name}}</span>
                    </ng-template>
                </p-dropdown>
            </div>
        </form>

    </ng-container>

</div>
<div class="modal-footer">
    <ng-container *ngIf="active_edit_update_mode">
        <button mat-raised-button color="primary" [disabled]="!addAddressForm.valid" (click)="save_Address()"
        class="me-2 mb-2">{{btnText}}</button>
        <button mat-raised-button color="accent" (click)="deactiveEditMode()" class="me-2 mb-2">Close</button>

    </ng-container>
    <ng-container *ngIf="!active_edit_update_mode">
        <button mat-raised-button color="primary" class="me-2 mb-2"
        (click)="activeModal.close({ 'success': true,'address':selectedAddress })" [disabled]="!selectedAddress">Choose</button>
        <button mat-raised-button color="accent" (click)="activeModal.dismiss({ 'success': false })"
         class="me-2 mb-2">Close</button>
       
    </ng-container>


</div>
<!-- <ngx-ui-loader  [fgsType]="SP" [loaderId]="'loader-01'" [text]="loaderText"></ngx-ui-loader> -->