<!-- ======= Footer ======= -->
<footer id="footer">

  <!-- <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>Join Our Newsletter</h4>
          <p>For exciting news from us</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div> -->

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Waywala</h3>
          <p>
            Bhubaneswar ,Odisha <br><br>
            <strong>Phone:</strong> 9876543210<br>
            <strong>Email:</strong>info@waywala.com<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/pages/about">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/pages/services">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/pages/termsofservice">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/pages/privacy-policy">Privacy policy</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/pages/refund-policy">Cancellation/Refund Policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/agriculture">Agriculture</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/aducation">Education</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/store">Store</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/agriculture/weather">Weather Report</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/agriculture/market-place">Market Place</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Social Networks</h4>
          <p>Follow us on Social Media</p>
          <div class="social-links mt-3">
            <a href="https://twitter.com/WAYWALA_03?t=SUCzdQUvSwhTy_hI6aeUEw&s=09" class="twitter" target="_blank"><i
                class="bx bi-twitter"></i></a>
            <a href="https://www.facebook.com/rajeshkumar.panda.750331" class="facebook" target="_blank"><i
                class="bx bi-facebook"></i></a>
            <a href="https://www.instagram.com/invites/contact/?i=1xkild57tj501&utm_content=pc2hsa8" target="_blank"
              class="instagram"><i class="bx bi-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCpO03tS3ERP-VQlofdvShjw" target="_blank"
              class="instagram"><i class="bx bi-youtube"></i></a>
              <a href="https://www.linkedin.com/in/way-wala-3-992155253" target="_blank"
              class="instagram"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>Waywala</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Developed by <a href="https://www.linkedin.com/in/suryanarayanbiswal/">Suryanarayan Biswal</a>
    </div>
  </div>
</footer>