<div class="coustom-margin margin"></div>

<app-search-bar appClickedoutside (clickoutside)="deactive()"></app-search-bar>
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page"><i class="fa-solid fa-magnifying-glass fa-fade me-2"></i> Search Items</h2>
    </div>
</section>
<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            <aside class="col-md-2">
                <div class="card border-none">
                    <div style="z-index: 999"
                        class="fixed bottom-0 lg:static left-0 right-0 px-3 lg:px-0 py-4 bg-white lg:pt-6 lg:pb-0 lg:py-0 z-20   rounded-t-lg md:rounded-none">
                        <div class="grid grid-cols-2 gap-2 ">
                            <button mat-raised-button color="warn" class="p-1 w-100 bg-none" [hidden]="true">
                                <i class="fa-solid fa-arrow-down-wide-short me-1"></i>SORT
                            </button>
                            <button mat-raised-button color="primary" class="p-1 w-100" (click)=" sidebarVisible=true">
                                <i class="fa-solid fa-filter me-1"></i>FILTER
                            </button>
                        </div>
                    </div>
                    <!-- <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Product type</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_1">
                            <div class="card-body">
                                <form class="pb-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <div class="input-group-append">
                                            <button class="btn btn-light" type="button"><i
                                                    class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>

                                <ul class="list-menu">
                                    <li><a href="#">People </a></li>
                                    <li><a href="#">Watches </a></li>
                                    <li><a href="#">Cinema </a></li>
                                    <li><a href="#">Clothes </a></li>
                                    <li><a href="#">Home items </a></li>
                                    <li><a href="#">Animals</a></li>
                                    <li><a href="#">People </a></li>
                                </ul>

                            </div> 
                        </div>
                    </article> 
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Brands </h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_2">
                            <div class="card-body">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" checked="" class="custom-control-input">
                                    <div class="custom-control-label">Mercedes
                                        <b class="badge badge-pill badge-light float-right">120</b>
                                    </div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" checked="" class="custom-control-input">
                                    <div class="custom-control-label">Toyota
                                        <b class="badge badge-pill badge-light float-right">15</b>
                                    </div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" checked="" class="custom-control-input">
                                    <div class="custom-control-label">Mitsubishi
                                        <b class="badge badge-pill badge-light float-right">35</b>
                                    </div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" checked="" class="custom-control-input">
                                    <div class="custom-control-label">Nissan
                                        <b class="badge badge-pill badge-light float-right">89</b>
                                    </div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">Honda
                                        <b class="badge badge-pill badge-light float-right">30</b>
                                    </div>
                                </label>
                            </div> 
                        </div>
                    </article> 
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Price range </h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_3">
                            <div class="card-body">
                                <input type="range" class="custom-range" min="0" max="100" name="">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Min</label>
                                        <input class="form-control" placeholder="$0" type="number">
                                    </div>
                                    <div class="form-group text-right col-md-6">
                                        <label>Max</label>
                                        <input class="form-control" placeholder="$1,0000" type="number">
                                    </div>
                                </div> 
                                <button class="btn btn-block btn-primary">Apply</button>
                            </div>
                        </div>
                    </article>
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Sizes </h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_4">
                            <div class="card-body">
                                <label class="checkbox-btn">
                                    <input type="checkbox">
                                    <span class="btn btn-light"> XS </span>
                                </label>

                                <label class="checkbox-btn">
                                    <input type="checkbox">
                                    <span class="btn btn-light"> SM </span>
                                </label>

                                <label class="checkbox-btn">
                                    <input type="checkbox">
                                    <span class="btn btn-light"> LG </span>
                                </label>

                                <label class="checkbox-btn">
                                    <input type="checkbox">
                                    <span class="btn btn-light"> XXL </span>
                                </label>
                            </div>
                        </div>
                    </article> 
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_5" aria-expanded="false" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">More filter </h6>
                            </a>
                        </header>
                        <div class="filter-content collapse in" id="collapse_5">
                            <div class="card-body">
                                <label class="custom-control custom-radio">
                                    <input type="radio" name="myfilter_radio" checked="" class="custom-control-input">
                                    <div class="custom-control-label">Any condition</div>
                                </label>

                                <label class="custom-control custom-radio">
                                    <input type="radio" name="myfilter_radio" class="custom-control-input">
                                    <div class="custom-control-label">Brand new </div>
                                </label>

                                <label class="custom-control custom-radio">
                                    <input type="radio" name="myfilter_radio" class="custom-control-input">
                                    <div class="custom-control-label">Used items</div>
                                </label>

                                <label class="custom-control custom-radio">
                                    <input type="radio" name="myfilter_radio" class="custom-control-input">
                                    <div class="custom-control-label">Very old</div>
                                </label>
                            </div>
                        </div>
                    </article> -->
                </div>
            </aside>
            <div class="col-md-10">
                <header class="mb-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="m-2 fs-5 text-danger">{{products.length}} Result found </span>
                        <div class="m-2 fs-5 text-muted">
                            <p-dropdown [options]="sortByOption" [(ngModel)]="selctedsortByOption" optionLabel="name"
                                (onChange)="sort()"></p-dropdown>
                        </div>
                    </div>
                </header>
                <app-product-section [productSectionMode]="false" [allProductList]="products"
                    [nodataVisible]="true"></app-product-section>
            </div>
        </div>
    </div>
</section>
<p-sidebar [(visible)]="sidebarVisible">
    <h3>Fillter</h3>
    <p-accordion [activeIndex]="0">
        <p-accordionTab header="Category">
            <section class="example-section" [formGroup]="filterCategory">
                <p><mat-checkbox formControlName="vegetable">Vegetable</mat-checkbox></p>
                <p><mat-checkbox formControlName="agriculture">Agriculture Medicine</mat-checkbox></p>
                <p><mat-checkbox formControlName="fashion">Fashion</mat-checkbox></p>
                <p><mat-checkbox formControlName="grocery">Grocery</mat-checkbox></p>
            </section>
        </p-accordionTab>
        <p-accordionTab header="Price Range">
            <div class="price-input">
                <div class="field">
                    <span>Min</span>
                    <input type="number" class="input-min" [(ngModel)]="minValue">
                </div>
                <div class="separator">-</div>
                <div class="field">
                    <span>Max</span>
                    <input type="number" class="input-max" [(ngModel)]="maxValue">
                </div>
            </div>
        </p-accordionTab>
        <!-- <p-accordionTab header="Header III">
            <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                provident, similique sunt in culpa
                qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est
                et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
                minus.
            </p>
        </p-accordionTab> -->
    </p-accordion>
    <button mat-raised-button color="primary" class="w-100 mt-5" (click)="apply()">Apply</button>
</p-sidebar>


<app-footer></app-footer>